---
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Machine Learning, R Programming, Statistics, Artificial Intelligence">
    <meta name="author" content="Manuel Amunategui">
    <meta name="google-site-verification" content="yy8668FW9DWhvb23iFhRiwRiFoo89Wtmg6sL8MNEvsM" />
    <link rel="icon" href="favicon.ico">
    
    <script data-ad-client="ca-pub-3719956521755493" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

    <title>Data Exploration, Machine Learning and AI walkthroughs in Python and R, Hands-on</title>

    {% include externals_no_google_ads.html %}
  
</head>

<body>
 
<main role="main">

{% include header.html %}

{% include signup.html %}

      <div class="album py-5 bg-light">

      <!-- row -->
  
        <div class="container">

    <h1>Welcome to <b>amunategui.github.io</b>, your portal for practical data science walkthroughs in the Python and R programming languages</h1>
    <br>
    <h2>I attempt to break down complex machine learning ideas and algorithms into practical applications using clear steps and publicly available data sets. If you're looking for applied walkthroughs of ML and AI concepts, you've come to the right place - happy learning!</h2>
    <br><BR>
   

          <h5>Popular/New Posts:</h5>


          <div class="row">

             <!-- row starts-->

              <div class="col-md-4">
              <div class="card mb-4 box-shadow" style="height:300px;">
                <a href='titanic-web-app/index.html' target='_blank'>
                 <img src="titanic-web-app/img/titanic-small-2.png" alt="Design Titanic Passengers Web App" 
                    title="Design Titanic Passengers Web App" 
                   style='padding:1px; border:1px solid #021a40; width: 100%; height: 200px'>
                <div class="card-body">
                  <p class="card-text">Let's Build a Web App to Design Titanic Passengers - Walk Through of Chapter 3 from My Book Monetizing Machine Learning</p>
                </div>
              </a>
              </div>
            </div>


             <div class="col-md-4">
              <div class="card mb-4 box-shadow" style="height:300px;">
                <a href='discord-pager/index.html' target='_blank'>
                 <img src="discord-pager/img/discord-pager-long.png" alt="One Line of Code to Send Messages to a Discord Server" 
                    title="One Line of Code to Send Messages to a Discord Server" 
                   style='padding:1px; border:1px solid #021a40; width: 100%; height: 200px'>
                <div class="card-body">
                  <p class="card-text">One Line of Code to Send Messages to a Discord Server</p>
                </div>
              </a>
              </div>
            </div>


            <div class="col-md-4">
              <div class="card mb-4 box-shadow" style="height:300px;">
                <a href='http://www.viralml.com/grow-your-web-brand.html' target='_blank'>
                 <img src="https://amunategui.github.io/grow-your-traffic.png" alt="Grow Your Web Brand, Visibility & Traffic Organically - 5 Years of amunategui.github.io" 
                    title="Grow Your Web Brand, Visibility & Traffic Organically - 5 Years of amunategui.github.io" 
                   style='padding:1px; border:1px solid #021a40; width: 100%; height: 200px'>
                <div class="card-body">
                  <p class="card-text">Grow Your Web Brand, Visibility & Traffic Organically - 5 Years of amunategui.github.io</p>
                </div>
              </a>
              </div>
            </div>
 

            <div class="col-md-4">
              <div class="card mb-4 box-shadow" style="height:300px;">
                <a href='rest-api/index.html' target='_blank'>
                 <img src="rest-api/img/lucas_hammock.jpg" alt="The Python and Flask Rest API, Abstracting Functions for Web Applications and SaaS" 
                    title="The Python and Flask Rest API, Abstracting Functions for Web Applications and SaaS" 
                   style='padding:1px; border:1px solid #021a40; width: 100%; height: 200px'>
                <div class="card-body">
                  <p class="card-text">The Python and Flask Rest API, Abstracting Functions for Web Applications and SaaS</p>
                </div>
              </a>
              </div>
            </div>


             <div class="col-md-4">
              <div class="card mb-4 box-shadow" style="height:300px;">
                <a href='what-most-data-scientists-are-missing/index.html' target='_blank'>
                 <img src="what-most-data-scientists-are-missing/img/missing-in-data-science.png" alt="What they Didn’t Teach at Data Science School" 
                    title="What they Didn’t Teach at Data Science School" 
                   style='padding:1px; border:1px solid #021a40; width: 100%; height: 200px'>
                <div class="card-body">
                  <p class="card-text">What they Didn’t Teach at Data Science School, and How to Fix It to 10x Your Career</p>
                </div>
              </a>
              </div>
            </div>



            <div class="col-md-4">
              <div class="card mb-4 box-shadow" style="height:300px;">
                <a href='gdelt/index.html' target='_blank'>
                 <img src="gdelt/img/gdelt-glob.gif" alt="GDELT news globe" title="GDELT news globe" 
                   style='padding:1px; border:1px solid #021a40; width: 100%; height: 200px'>
                <div class="card-body">
                  <p class="card-text">GDELT - World Events at Your Finger Tips and for Free!</p>
                </div>
              </a>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card mb-4 box-shadow" style="height:300px;">
                <a href='we-can-all-be-internet-moguls/index.html' target='_blank'>
                 <img src="we-can-all-be-internet-moguls/img/Video cover Create ML for free.png" alt="How to create your own ML web application" 
                   style='padding:1px; border:1px solid #021a40; width: 100%; height: 200px'>
                <div class="card-body">
                  <p class="card-text">We Can All Be Internet Moguls — How to Create and Sell Your Machine Learning Product Online and For Free</p>
                </div>
              </a>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card mb-4 box-shadow" style="height:300px;">
                <a href='your-own-signup-form/index.html' target='_blank'>
                 <img src="your-own-signup-form/img/your-own-signup-form.png" alt="Your very own email signup form" 
                   style='padding:1px; border:1px solid #021a40; width: 100%; height: 200px'>
                <div class="card-body">
                  <p class="card-text">How to Create Your Own Free Email Signup Form and Enjoy 100% Creative Freedom</p>
                </div>
              </a>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card mb-4 box-shadow" style="height:300px;">
                <a href='cvae-in-finance/index.html' target='_blank'>
                 <img src="cvae-in-finance/img/aapl-anomalies.png" alt="anomalies CVAE" 
                   style='padding:1px; border:1px solid #021a40; width: 100%; height: 200px'>
                <div class="card-body">
                  <p class="card-text">From Financial Compliance to Fraud Detection with Conditional Variational Autoencoders (CVAE) and Tensorflow</p>
                </div>
              </a>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card mb-4 box-shadow" style="height:300px;">
                <a href='https://medium.com/@amunategui/how-blogging-and-making-youtube-videos-landed-me-the-best-job-19353e4fdf90' target='_blank'>
                 <img src="medium/blogging-landed-best-job.jpg" alt="blogging" 
                   style='padding:1px; border:1px solid #021a40; width: 100%; height: 200px'>
                <div class="card-body">
                  <p class="card-text">How Blogging and Making YouTube Videos Landed Me the Best Job</p>

                </div>
              </a>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card mb-4 box-shadow" style="height:300px;">
                <a href='what-your-git-commits-say-about-you/index.html' target='_blank'>
                 <img src="what-your-git-commits-say-about-you/img/git-commits-good-habits.png" alt="git commits" 
                   style='padding:1px; border:1px solid #021a40; width: 100%; height: 200px'>
                <div class="card-body">
                  <p class="card-text">Your Git Commit Comments, and What They Reveal About You</p>

                </div>
              </a>
              </div>
            </div>



            <div class="col-md-4">
              <div class="card mb-4 box-shadow" style="height:300px;">
                <a href='concepts-in-pair-trading/index.html' target='_blank'>
                 <img src="concepts-in-pair-trading/img/title-page.png" alt="pair trading" 
                   style='padding:1px; border:1px solid #021a40; width: 100%; height: 200px'>
                <div class="card-body">
                  <p class="card-text">Exploring Some Pair-Trading Concepts with Python</p>

                </div>
              </a>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card mb-4 box-shadow" style="height:300px;">
                <a href='favorite-free-classes/index.html' target='_blank'>
                 <img src="favorite-free-classes/img/image001.jpg" alt="free classes" 
                   style='padding:1px; border:1px solid #021a40; width: 100%; height: 200px'>
                <div class="card-body">
                  <p class="card-text">My Six Favorite Free Data Science Classes and the Giants Behind Them</p>

                </div>
              </a>
              </div>
            </div>


            <div class="col-md-4">
              <div class="card mb-4 box-shadow" style="height:300px;">
                <a href='reinforcement-learning/index.html' target='_blank'>
                 <img src="reinforcement-learning/img/looking-for-honey.png" alt="looking for honey" 
                   style='padding:1px; border:1px solid #021a40; width: 100%; height: 200px'>
                <div class="card-body">
                  <p class="card-text">Reinforcement Learning - A Simple Python Example and a Step Closer to AI with Assisted Q-Learning</p>

                </div>
              </a>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card mb-4 box-shadow" style="height:300px;">
                <a href='fast-gpu-gcloud/index.html' target='_blank'>
                 <img src="fast-gpu-gcloud/img/intro-gpus-gcp.png" alt="GPUs in Google Cloud"
                     style='padding:1px; border:1px solid #021a40; width: 100%; height: 200px'>
                  <div class="card-body">
                    <p class="card-text">GPUs on Google Cloud - the Fast Way & the Slow Way</p>
           
                  </div>
                </a>
              </div>
            </div>

 
            <div class="col-md-4">
              <div class="card mb-4 box-shadow" style="height:300px;">
                <a href='number-one-piece-of-advice/index.html' target='_blank'>
               <img src="number-one-piece-of-advice/Images/1*7QWzIh3ytZDHgEYdG2QjfA.jpeg" alt="number one piece of adice"
                   style='padding:1px; border:1px solid #021a40; width: 100%; height: 200px'>
                <div class="card-body">
                  <p class="card-text">My #1 Piece of Advice for Aspiring Data Scientists</p>
         
                </div>
              </a>
              </div>
            </div>



            <div class="col-md-4">
              <div class="card mb-4 box-shadow" style="height:300px;">
                <a href='executive-time-management/index.html' target='_blank'>
               <img src="executive-time-management/Images/1*QAjnux0xih6CJn_DlW4lnQ.jpg" alt="Executive Time Management"
                   style='padding:1px; border:1px solid #021a40; width: 100%; height: 200px'>
                <div class="card-body">
                  <p class="card-text">Executive Time Management — Don’t Suffocate the Creative Process</p>
         
                </div>
              </a>
              </div>
            </div>


           <div class="col-md-4">
              <div class="card mb-4 box-shadow" style="height:300px;">
                <a href='unconventional-convolutional-networks/index.html' target='_blank'>
                 <img src="unconventional-convolutional-networks/img/data_transform2.png" alt="creating thousands of synthetic charts"
                     style='padding:1px; border:1px solid #021a40; width: 100%; height: 200px'>
                  <div class="card-body">
                    <p class="card-text">Convolutional Neural Networks And Unconventional Data - Predicting The Stock Market Using Images</p>
           
                  </div>
                </a>
              </div>
            </div>

 

            <div class="col-md-4">
              <div class="card mb-4 box-shadow" style="height:300px;">
                <a href='find-your-next-language/index.html' target='_blank'>
               <img src="find-your-next-language/Images/1*b5xHZ3sic02kes6CUXVsoQ.jpg" alt="Find Your Next Programming Language"
                   style='padding:1px; border:1px solid #021a40; width: 100%; height: 200px'>
                <div class="card-body">
                  <p class="card-text">Find Your Next Programming Language By Measuring “The Knowledge Gap”</p>
         
                </div>
              </a>
              </div>
            </div>



            <div class="col-md-4">
              <div class="card mb-4 box-shadow" style="height:300px;">
                <a href='aws-beanstalk/index.html' target='_blank'>
               <img src="aws-beanstalk/img/beanstalk.png" alt="Hosting a Flask Application on AWS Beanstalk"
                   style='padding:1px; border:1px solid #021a40; width: 100%; height: 200px'>
                <div class="card-body">
                  <p class="card-text">Hosting a Flask Application on AWS Beanstalk</p>
         
                </div>
              </a>
              </div>
            </div>


           <div class="col-md-4">
              <div class="card mb-4 box-shadow" style="height:300px;">
                <a href='simple-flask-on-azure/index.html' target='_blank'>
                 <img src="simple-flask-on-azure/img/azure-logo.png" alt="Serverless Hosting On Microsoft Azure"
                     style='padding:1px; border:1px solid #021a40; width: 100%; height: 200px'>
                  <div class="card-body">
                    <p class="card-text">Serverless Hosting On Microsoft Azure - A Simple Flask Example</p>
           
                  </div>
                </a>
              </div>
            </div>

 

            <div class="col-md-4">
              <div class="card mb-4 box-shadow" style="height:300px;">
                <a href='rapid-prototyping-app-engine-yelp/index.html' target='_blank'>
               <img src="rapid-prototyping-app-engine-yelp/img/Portland-Boise-Florists.png" alt="Rapid Prototyping on Google App Engine"
                   style='padding:1px; border:1px solid #021a40; width: 100%; height: 200px'>
                <div class="card-body">
                  <p class="card-text">Rapid Prototyping on Google App Engine - Easily Extend your Python ML Models into Interactive Web Applications</p>
         
                </div>
              </a>
              </div>
            </div>



            <div class="col-md-4">
              <div class="card mb-4 box-shadow" style="height:300px;">
                <a href='tensorflow-won/index.html' target='_blank'>
               <img src="tensorflow-won/Images/1*xjEtOCX54CxQ95U26GP7GQ.jpg" alt="TensorFlow won the attention battle"
                   style='padding:1px; border:1px solid #021a40; width: 100%; height: 200px'>
                <div class="card-body">
                  <p class="card-text">TensorFlow Won the Attention Battle, Who’s Next?</p>
                </div>
              </a>
              </div>
            </div>


            <div class="col-md-4">
              <div class="card mb-4 box-shadow" style="height:300px;">
                <a href='Extracting-Chatbot-Scenarios-From-Customer-Service-Scripts/index.html' target='_blank'>
               <img src="Extracting-Chatbot-Scenarios-From-Customer-Service-Scripts/Images/Pasted%20Graphic%205.png" alt="Chatbot conversations"
                   style='padding:1px; border:1px solid #021a40; width: 100%; height: 200px'>
                <div class="card-body">
                  <p class="card-text">Chatbot Conversations From Customer Service Transcripts</p>
                </div>
              </a>
              </div>
            </div>
 
 

            <div class="col-md-4">
              <div class="card mb-4 box-shadow" style="height:300px;">
                <a href='google-actor-recognition/index.html' target='_blank'>
               <img src="google-actor-recognition/img/blade-young.png" alt="Recognizing famous actors"
                   style='padding:1px; border:1px solid #021a40; width: 100%; height: 200px'>
                <div class="card-body">
                  <p class="card-text">Google Video Intelligence - Recognize Actors in Real Time</p>
                </div>
              </a>
              </div>
            </div>
         
 
            <div class="col-md-4">
              <div class="card mb-4 box-shadow" style="height:300px;">
                <a href='markov-chains/index.html' target='_blank'>
               <img src="markov-chains/img/markov.png" alt="Predicting the stock market with Markov Chains"
                   style='padding:1px; border:1px solid #021a40; width: 100%; height: 200px'>
                <div class="card-body">
                  <p class="card-text">Predict Stock-Market Behavior using Markov Chains and R</p>
         
                </div>
              </a>
              </div>
            </div>


           <div class="col-md-4">
              <div class="card mb-4 box-shadow" style="height:300px;">
                <a href='smote/index.html' target='_blank'>
               <img src="smote/img/title.png" alt="MOTE - Supersampling Rare Events in R"
                   style='padding:1px; border:1px solid #021a40; width: 100%; height: 200px'>
                <div class="card-body">
                  <p class="card-text">SMOTE - Supersampling Rare Events in R</p>
         
                </div>
              </a>
              </div>
            </div>
   

            <div class="col-md-4">
              <div class="card mb-4 box-shadow" style="height:300px;">
                <a href='wallstreet/index.html' target='_blank'>
               <img src="wallstreet/img/unnamed-chunk-11.png" alt="Lets get rich with quantmod"
                   style='padding:1px; border:1px solid #021a40; width: 100%; height: 200px'>
                <div class="card-body">
                  <p class="card-text">Let's Get Rich! See how {quantmod} And R Can Enrich Your Knowledge Of The Financial Markets!</p>
         
                </div>
              </a>
              </div>
            </div>

  <!-- cap image rows -->     
 
        </div>
      </div>

<!-- signup form -->
<script type="text/javascript" src="https://app.getresponse.com/view_webform_v2.js?u=zQcLH&webforms_id=B5AVZ"></script>

<!-- full link history -->
    <BR><BR>
     <div class="container">
         <h5>All Posts:</h5>
            <ol class="list-unstyled">

            <li><p><a href='titanic-web-app/index.html' target='_blank'>Let's Build a Web App to Design Titanic Passengers - Walk Through of Chapter 3 from My Book Monetizing Machine Learning</a></p></li> 

            <li><p><a href='discord-pager/index.html' target='_blank'>One Line of Code to Send Messages to a Discord Server</a></p></li> 

            <li><p><a href='http://www.viralml.com/grow-your-web-brand.html' target='_blank'>Grow Your Web Brand, Visibility & Traffic Organically - 5 Years of amunategui.github.io</a></p></li> 

            <li><p><a href='rest-api/index.html' target='_blank'>The Python and Flask Rest API, Abstracting Functions for Web Applications and SaaS</a></p></li> 

            <li><p><a href='what-most-data-scientists-are-missing/index.html' target='_blank'>What they Didn’t Teach at Data Science School, and How to Fix It to 10x Your Career</a></p></li> 

            <li><p><a href='gdelt/index.html' target='_blank'>GDELT - World Events at Your Finger Tips and for Free!</a></p></li> 

            <li><p><a href='we-can-all-be-internet-moguls/index.html' target='_blank'>We Can All Be Internet Moguls — How to Create and Sell Your Machine Learning Product Online and For Free</a></p></li> 

            <li><p><a href='your-own-signup-form/index.html' target='_blank'>How to Create Your Own Free Email Signup Form and Enjoy 100% Creative Freedom - For Static & Semi-Static Web Sites</a></p></li> 

            <li><p><a href='cvae-in-finance/index.html' target='_blank'>From Financial Compliance to Fraud Detection with Conditional Variational Autoencoders (CVAE) and Tensorflow</a></p></li> 
      
            <li><p><a href='https://medium.com/@amunategui/how-blogging-and-making-youtube-videos-landed-me-the-best-job-19353e4fdf90' target='_blank'>How Blogging and Making YouTube Videos Landed Me the Best Job</a></p></li> 

            <li><p><a href='http://amunategui.github.io/what-your-git-commits-say-about-you/index.html' target='_blank'>Your Git Commit Comments, and What They Reveal About You</a></p></li> 

            <li><p><a href='concepts-in-pair-trading/index.html' target='_blank'>Exploring Some Pair-Trading Concepts with Python</a></p></li> 

            <li><p><a href='favorite-free-classes/index.html' target='_blank'>My Six Favorite Free Data Science Classes and the Giants Behind Them</a></p></li> 

            <li><p><a href='aws-beanstalk/index.html' target='_blank'>Hosting a Flask Application on AWS Beanstalk</a></p></li> 

            <li><p><a href='tensorflow-won/index.html' target='_blank'>TensorFlow Won the Attention Battle, Who’s Next?</a></p></li> 

             <li><p><a href='fast-gpu-gcloud/index.html' target='_blank'>GPUs on Google Cloud - the Fast Way & the Slow Way</a></p></li> 

             <li><p><a href='executive-time-management/index.html' target='_blank'>Executive Time Management — Don’t Suffocate the Creative Process</a></p></li>  

             <li><p><a href='pairing-rl-and-ml/index.html' target='_blank'>Pairing Reinforcement Learning and Machine Learning, an Enhanced Emergency Response Scenario</a></p></li>  

            <li><p><a href='find-your-next-language/index.html' target='_blank'>Find Your Next Programming Language By Measuring “The Knowledge Gap” on StackOverflow.com</a></p></li>  

            <li><p><a href='number-one-piece-of-advice/index.html' target='_blank'>My #1 Piece of Advice for Aspiring Data Scientists</a></p></li>  

            <li><p><a href='Extracting-Chatbot-Scenarios-From-Customer-Service-Scripts/index.html' target='_blank'>Chatbot Conversations From Customer Service Transcripts</a></p></li>

            <li><p><a href='simple-flask-on-azure/index.html' target='_blank'>Serverless Hosting On Microsoft Azure - A Simple Flask Example</a></p></li>

            <li><p><a href='google-video-transfer-learning/index.html' target='_blank'>Google Video Intelligence, TensorFlow And Inception V3 - Recognizing Not-So-Famous-People</a></p></li>
   
            <li><p><a href='rapid-prototyping-app-engine-yelp/index.html' target='_blank'>Rapid Prototyping on Google App Engine - Build a Trip Planner with Google Maps and Yelp</a></p></li>
            
            <li><p><a href='yelp-v3-cross-country-trip/index.html' target='_blank'>Yelp v3 and a Romantic Trip Across the USA, One Florist at a Time</a></p></li>
            
            <li><p><a href='free-website-on-github/index.html' target='_blank'>Show it to the World! Build a Free Art Portfolio Website on GitHub.io in 20 Minutes!</a></p></li>

            <li><p><a href='google-actor-recognition/index.html' target='_blank'>Google Video Intelligence and Vision APIs - Automatically Recognize Actors and Download their Biographies in Real Time</a></p></li>

            <li><p><a href='life-expectancy/index.html' target='_blank'>Life Coefficients - Modeling Life Expectancy and Prototyping it on the Web with Flask and PythonAnywhere</a></p></li>
            
            <li><p><a href='unconventional-convolutional-networks/index.html' target='_blank'>Convolutional Neural Networks And Unconventional Data - Predicting The Stock Market Using Images</a></p></li>
            
            <li><p><a href='fallacy-venn-diagram/index.html' target='_blank'>The Fallacy of the Data Scientist's Venn Diagram</a></p></li>
            
            <li><p><a href='reinforcement-learning/index.html' target='_blank'>Reinforcement Learning - A Simple Python Example and a Step Closer to AI with Assisted Q-Learning</a></p></li>

            <li><p><a href='simple-heuristics/index.html' target='_blank'>Simple Heuristics - Graphviz and Decision Trees to Quickly Find Patterns in your Data</a></p></li>

            <li><p><a href='office-automation-part3/index.html' target='_blank'>Office Automation Part 3 - Classifying Enron Emails with Google's Tensorflow Deep Neural Network Classifier</a></p></li>

            <li><p><a href='office-automation-part2/index.html' target='_blank'>Office Automation Part 2 - Using Pre-Trained Word-Embedded Vectors to Categorize the Enron Email Dataset</a></p></li>

            <li><p><a href='office-automation/index.html' target='_blank'>Office Automation Part 1 - Sorting Departmental Emails with Tensorflow and Word-Embedded Vectors</a></p></li>
            
            <li><p><a href='market-profile/index.html' target='_blank'>Easy Market Profile in Python: Grasp Price Action Quickly</a></p></li>

            <li><p><a href='what-if/index.html' target='_blank'>What-if Roadmap - Assessing Live Opportunities and their Paths to Success or Failure</a></p></li>

            <li><p><a href='C50-rules/index.html' target='_blank'>Where Are Your Customers Coming From And Where Are They Going - Reporting On Complex Customer Behavior In Plain English With C5.0</a></p></li>

            <li><p><a href='databricks-spark-bayes/index.html' target='_blank'>Databricks, SparkR and Distributed Naive Bayes Modeling</a></p></li>

            <li><p><a href='r-and-azureml/index.html' target='_blank'>R and Azure ML - Your One-Stop Modeling Pipeline in The Cloud!</a></p></li>

            <li><p><a href='pseudo-coefficients/index.html' target='_blank'>Get Your "all-else-held-equal" Odds-Ratio Story for Non-Linear Models!</a></p></li>
            
            <li><p><a href='markov-chains/index.html' target='_blank'>Predict Stock-Market Behavior using Markov Chains and R</a></p></li>
            
            <li><p><a href="all-hacker-news/index.html">Big Data Surveillance: Use EC2, PostgreSQL and Python to Download all Hacker News Data!</a></p></li>
            
            <li><p><a href='peter_norvig_magic_spell_checker/index.html' target='_blank'>The Peter Norvig Magic Spell Checker in R</a></p></li>
            
            <li><p><a href='actionable-instights/index.html' target='_blank'>Actionable Insights: Getting Variable Importance at the Prediction Level in R</a></p></li>
 
           <li><p><a href='survival-ensembles/index.html' target='_blank'>Survival Ensembles: Survival Plus Classification for Improved Time-Based Predictions in R</a></p></li>

           <li><p><a href='anomaly-detection-h2o/index.html' target='_blank'>Anomaly Detection: Increasing Classification Accuracy with H2O's Autoencoder and R</a></p></li>

           <li><p><a href='h2o-on-aws/index.html' target='_blank'>H2O & RStudio Server on Amazon Web Services (AWS), the Easy Way!</a></p></li>

           <li><p><a href='accessing-the-gutenberg-library/index.html' target='_blank'>Analyze Classic Works of Literature from Around the World with Project Gutenberg and R</a></p></li>

           <li><p><a href='speak-like-a-doctor/index.html' target='_blank'>Speak Like a Doctor - Use Natural Language Processing to Predict Medical Words in R</a></p></li>

            <li><p><a href='sparkr/index.html' target='_blank'>Supercharge R with Spark: Getting Apache's SparkR Up and Running on Amazon Web Services (AWS)</a></p></li>


            <li><p><a href='excel-data-dumps/index.html' target='_blank'>R and Excel: Making Your Data Dumps Pretty with XLConnect</a></p></li>


            <li><p><a href='idea-to-pitch/index.html' target='_blank'>Going from an Idea to a Pitch: Hosting your Python Application using Flask and Amazon Web Services (AWS)</a></p></li>

            <li><p><a href='pubmed-query/index.html' target='_blank'>Getting PubMed Medical Text with R and Package {RISmed}</a></p></li>


            <li><p><a href='variable-importance-shuffler/index.html' target='_blank'>Find Variable Importance for any Model - Prediction Shuffling with R</a></p></li>

            <li><p><a href='bagging-in-R/index.html' target='_blank'>Bagging / Bootstrap Aggregation with R</a></p></li>

            <li><p><a href='feature-hashing/index.html' target='_blank'>Feature Hashing (a.k.a. The Hashing Trick) With R</a></p></li>

            <li><p><a href='yelp-cross-country-trip/index.html' target='_blank'>Yelp, httr and a Romantic Trip Across the United States, One Florist at a Time</a></p></li>

            <li><p><a href='supervised-summarizer/index.html' target='_blank'>Quantifying the Spread: Measuring Strength and Direction of Predictors with the Summary Function</a></p></li>

            <li><p><a href='google-trends-walkthrough/index.html' target='_blank'>Downloading Data from Google Trends And Analyzing It With R</a></p></li>

            <li><p><a href='stringdist/index.html' target='_blank'>Using String Distance {stringdist} To Handle Large Text Factors, Cluster Them Into Supersets</a></p></li>

            <li><p><a href='smote/index.html' target='_blank'>SMOTE - Supersampling Rare Events in R</a></p></li>

            <li><p><a href='wallstreet/index.html' target='_blank'>Let's Get Rich! See how {quantmod} And R Can Enrich Your Knowledge Of The Financial Markets!</a></p></li>


            <li><p><a href='dealing-with-large-files/index.html' target='_blank'>How To Work With Files Too Large For A Computer’s RAM? Using R To Process Large Data In Chunks</a></p></li>

            <li><p><a href='multinomial-neuralnetworks-walkthrough/index.html' target='_blank'>Predicting Multiple Discrete Values with Multinomials, Neural Networks and the {nnet} Package</a></p></li>

            <li><p><a href='binary-outcome-modeling/index.html' target='_blank'>Modeling 101 - Predicting Binary Outcomes with R, gbm, glmnet, and {caret}</a></p></li>

            <li><p><a href='high-demensions-pca/index.html' target='_blank'>Reducing High Dimensional Data with Principle Component Analysis (PCA) and prcomp</a></p></li>

            <li><p><a href='sparse-matrix-glmnet/index.html' target='_blank'>The Sparse Matrix and {glmnet}</a></p></li>

            <li><p><a href='dummyVar-Walkthrough/index.html' target='_blank'>Brief Walkthrough Of The dummyVars Function From {caret}</a></p></li>

            <li><p><a href='fscaret-Walkthrough/index.html' target='_blank'>Ensemble Feature Selection On Steroids: {fscaret} Package</a></p></li>


            <li><p><a href='ggmap-example/index.html' target='_blank'>Mapping The United States Census With {ggmap}</a></p></li>

            <li><p><a href='Exploring-Your-Data-Set/index.html' target='_blank'>Using Correlations To Understand Your Data</a></p></li>


            <li><p><a href='EC2-RStudioServer/index.html' target='_blank'>Brief Guide On Running RStudio Server On Amazon Web Services</a></p></li>


            </ol>
          </div>

    </main>
 
 <script type="text/javascript" src="https://app.getresponse.com/view_webform_v2.js?u=zQcLH&webforms_id=B5AVZ"></script>

    <footer class="text-muted">
      <div class="container">
        <p class="float-right">
          <a href="#">Back to top</a>
        </p>
        <p>&copy; Manuel Amunategui</p>
        <p>All articles and walkthroughs are posted for entertainment and education only - use at your own risk. I unfortunately don't have time to respond to support questions, please post them on Stackoverflow or in the comments of the corresponding YouTube videos and the community may help you out. Also, for Europeans, we use cookies to control our popup windows so they don't popup too much and for no other reason. Happy learning!</p>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
     <script src="https://holderjs.com/holder.js"></script>
  </body>
</html>
