---
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    
    <meta property="og:description" content="Learn How to Abstract Functions using Rest APIs and Extend Your Web Applications and Saas">
    <meta name="description" content="Learn How to Abstract Functions using Rest APIs and Extend Your Web Applications and Saas">
    <meta name="title" content="The Python and Flask Rest API, Abstracting Functions for Web Applications and SaaS">
    <meta name="og:title" content="The Python and Flask Rest API, Abstracting Functions for Web Applications and SaaS">

    <meta name="author" content="Manuel Amunategui">
    <link rel="icon" href="../favicon.ico">

    <title>The Python and Flask Rest API, Abstracting Functions for Web Applications and SaaS</title>

    {% include externals.html %}
  
  </head>

<style>
  code {
    background-color: #eee;
    border-radius: 3px;
    font-family: courier, monospace;
    padding: 0 3px;
}
</style>

 
<body>

<main role="main">

{% include header.html %}
   
{% include signup.html %}

<div class="container">
  <div class="blog-header">
    <h1 class="blog-title">The Python and Flask Rest API, Abstracting Functions for Web Applications and SaaS</h1>
  </div>
 
<p><br />

<BR>
<p style="text-align:center">
<img src="img/lucas_hammock.jpg" alt="The Python and Flask Rest API, Abstracting Functions for Web Applications and SaaS" 
title="The Python and Flask Rest API, Abstracting Functions for Web Applications and SaaS" 
style='padding:1px; border:1px solid #021a40; width:623px; height:467px'>
</p>

<H2>Let's Abstract Functions using Rest APIs and Extend Your Web Applications and Saas</H2>
<BR><BR>
<p>
The Restful API (or REST API) is based on the representational state transfer architecture, a definition of data interoperability over the Internet using web services. In simple terms, it uses a set of commands such as get, post, delete, update, etc. and passes the data over the internet atop the HTTP protocol. This allows it to piggyback over an existing technology normally used to generate web pages. This technology can be very useful to abstract complex processing away from a web application's code. It can even allow you to bring in advanced predictive analytics and machine learining into simple sites like GitHub.io Pages or WordPress pages. 
</p>
<p>
To learn about REST APIs, let’s build a simple project using Python, Flask, pytz, flask_restful and Postman. I am going to assume you have done some simple Flask before, if you haven’t, go over to the <a href="http://flask.pocoo.org/docs/1.0/quickstart/" target='_blank'>official Flask documentation and go through the first example</a>. 
</p>
<BR><BR>
<H3>Install flask-restful and Postman</H3>

Install the flask-restful library by running the below command in your terminal window. This Flask extension will abstract a lot of of the coding and best practices for our REST API for us (such creating classes and adding resource API end points).
<BR><BR>
<pre>
    $ pip install flask-restful
</pre>
 <p>
Install the free version of <a href='https://www.getpostman.com' target='_blank'>
Postman at getpostman.com</a>. This tool allows you to easily test your API points and a whole lot more.
</p>
<BR><BR>
<H3>A Simple Example</H3>
<BR><BR>
<p>Enter the following code, save it to your local machine as 'main.py' and kick off a Flask session (run python3 main.py):
<pre>
from flask import Flask, request
from flask_restful import Resource, Api

app = Flask(__name__)
api = Api(app)

class HelloWorld(Resource):
    def get(self):
        return {'about': 'Hello World!’}

api.add_resource(HelloWorld, '/‘)

if __name__ == '__main__':
    app.run(debug=True)
</pre>
<p>
Run the above example in Postman:
</p>
<BR><BR>

<p style="text-align:center">
<img src="img/postman.png" alt="Testing our Flask REST API function in Postman" 
title="Testing our Flask REST API function in Postman" 
style='padding:1px; border:1px solid #021a40; width:815px; height:548px'>
</p>

<BR><BR>
<H3>The pytz Library</H3>
<BR><BR>
<p>Here we will use the pytz library to access current times in different times zones. You can play around with this library with the following code:
<pre>

from datetime import datetime
import pytz
utc = pytz.utc

# get your local time zone
print(utc.zone)
<BR>
UTC
<BR>
# print last 15 time zones from full time zone list
print(pytz.all_timezones[-15:])
<BR>
['US/Arizona', 'US/Central', 'US/East-Indiana', 'US/Eastern', 'US/Hawaii', 'US/Indiana-Starke', 'US/Michigan', 'US/Mountain', 'US/Pacific', 'US/Samoa', 'UTC', 'Universal', 'W-SU', 'WET', 'Zulu'] 
<BR><BR>
# get local time in Amsterdam
amsterdam = pytz.timezone('Europe/Amsterdam')
amsterdam_now = datetime.now(amsterdam)
fmt = '%Y-%m-%d %H:%M:%S %Z%z'
print('Amsterdam time:', str(amsterdam_now.strftime(fmt)))
<br>
Amsterdam time: 2018-11-28 01:14:30 CET+0100
</pre>

<BR><BR>
<H3>And Now for a More Involved Example</H3>
<BR><BR>
<p>Replace your previous 'main.py' code with following code:

<pre>
from flask import Flask, request
from flask_restful import Resource, Api
from datetime import datetime
import pytz
from urllib.parse import unquote

app = Flask(__name__)
api = Api(app)

class WorldTime(Resource):
  def get(self, timezone):
    timezone = unquote(timezone)
    if timezone in pytz.all_timezones:
      tz = pytz.timezone(timezone)
      tz_now = datetime.now(tz)
      fmt = '%Y-%m-%d %H:%M:%S %Z%z'
      return {'Server time zone': str(tz_now.strftime(fmt))}
    else:
      return {'Server time zone': str(timezone)}
  

api.add_resource(WorldTime, '/WorldTime/<string:timezone>')

if __name__ == '__main__':
    app.run(debug=True)

</pre>

<BR><BR>
<p>To test it out, you can enter the below URL in either Postman or your browser. Note that we are encoding the forward slash for "US/Eastern" with double forward slash %252F to not confuse the URL:
<pre>
http://127.0.0.1:5000/WorldTime/US%252FEastern
</pre>
<BR><BR>

<p style="text-align:center">
<img src="img/eastern-time-zone.png" alt="US Eastern Time Zone time..." 
title="US Eastern Time Zone time..." 
style='padding:1px; border:1px solid #021a40; width:60%; height:60%'>
</p>

<BR><BR>

<BR><BR>
<p>Thanks for reading and please share!!!</p>

<p>Manuel Amunategui - on Twitter: @amunategui</p>

<p>Author: <a href='https://amzn.to/2CRUOKu' target='_blank'>Monetizing Machine Learning</a>, Curator of <a href='http://amunategui.github.io/' target='_blank'>amunategui.github.io</a> and <a href='http://www.viralml.com/' target='_blank'>ViralML</a></p>



{% include mid_point_ad.html %}

</div>

</main>
{% include footer.html %}
  </body>
</html>

