---
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Machine Learning, R Programming, Statistics, Artificial Intelligence">
    <meta name="author" content="Manuel Amunategui">
    <link rel="icon" href="../favicon.ico">

    <title>Data Exploration & Machine Learning, Hands-on</title>

    {% include externals.html %}
  
</head>
  

<body>

<main role="main">

{% include header.html %}
   
{% include signup.html %}}

<div class="container">
  <div class="blog-header">
    <h1 class="blog-title">Using Correlations To Understand Your Data</h1>
    <p class="lead blog-description">Practical walkthroughs on machine learning, data exploration and finding insight.</p>
  </div>
   
<p><strong>Resources</strong></p>
<ul>
<li type="square"><a href="https://www.youtube.com/watch?v=igPQ-pI8Bjo&amp;list=UUq4pm1i_VZqxKVVOz5qRBIA" target="_blank">YouTube Companion Video</a></li>
<li type="square"><a href="#sourcecode">Full Source Code</a></li>
</ul>
<p><br />
<strong>Packages Used in this Walkthrough</strong></p>

<ul>
        <li type="square"><b>{RCurl}</b> - downloads https data</li>
        <li type="square"><b>{psych}</b> - correlation matrix plotting</li>
        <li type="square"><b>{caret}</b> - dummyVars function</li>
</ul>

<p><br /><br /></p>

<p>A great way to explore new data is to use a pairwise correlation matrix. This will measure the correlation between every combination of your variables. It doesn’t really matter if you have an outcome (or response) variable at this point, it will compare everything against everything else.</p>

<p>For those not familiar with the correlation coefficient, it is simply a measure of similarity between two vectors of numbers. The measure value can range between <strong>1</strong> and <strong>-1</strong>, where <strong>1</strong> is perfectly correlated, -<strong>1</strong> is perfectly inversly correlated, and <strong>0</strong> is not correlated at all:</p>

<pre><code class="language-{r}">print(cor(1:5,1:5))
## 1
print(cor(1:5,5:1))
## -1
print(cor(1:5,c(1,2,3,4,4)))
## 0.9701425
</code></pre>
<p><br /><br />
To help us understand this process, let’s download the <a href="https://archive.ics.uci.edu/ml/datasets/Adult" target="_blank">adult.data set</a> from the UCI Machine Learning Repository. The data is from the 1994 Census and attempts to predict those with income under $50,000 a year:</p>

<div class="language-r highlighter-rouge"><pre class="highlight"><code><span class="n">library</span><span class="p">(</span><span class="n">RCurl</span><span class="p">)</span><span class="w"> </span><span class="c1"># download https data
</span><span class="n">urlfile</span><span class="w"> </span><span class="o">&lt;-</span><span class="w"> </span><span class="s1">'https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data'</span><span class="w">
</span><span class="n">x</span><span class="w"> </span><span class="o">&lt;-</span><span class="w"> </span><span class="n">getURL</span><span class="p">(</span><span class="n">urlfile</span><span class="p">,</span><span class="w"> </span><span class="n">ssl.verifypeer</span><span class="w"> </span><span class="o">=</span><span class="w"> </span><span class="kc">FALSE</span><span class="p">)</span><span class="w">
</span><span class="n">adults</span><span class="w"> </span><span class="o">&lt;-</span><span class="w"> </span><span class="n">read.csv</span><span class="p">(</span><span class="n">textConnection</span><span class="p">(</span><span class="n">x</span><span class="p">),</span><span class="w"> </span><span class="n">header</span><span class="o">=</span><span class="nb">F</span><span class="p">)</span><span class="w">

</span><span class="c1"># if the above getURL command fails, try this:
# adults &lt;-read.csv('https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data', header=F)
</span></code></pre>
</div>
<p><br /><br />
We fill in the missing headers for the UCI set and cast the outcome variable <code class="highlighter-rouge">Income</code> to a binary format of <strong>1</strong> and <strong>0</strong> (here I am reversing the orginal order, if it is under $50k, it is <strong>0</strong>, and above, <strong>1</strong>; this will make the final correlation-matrix plot easier to understand):</p>

<div class="language-r highlighter-rouge"><pre class="highlight"><code><span class="nf">names</span><span class="p">(</span><span class="n">adults</span><span class="p">)</span><span class="o">=</span><span class="nf">c</span><span class="p">(</span><span class="s1">'Age'</span><span class="p">,</span><span class="s1">'Workclass'</span><span class="p">,</span><span class="s1">'FinalWeight'</span><span class="p">,</span><span class="s1">'Education'</span><span class="p">,</span><span class="s1">'EducationNumber'</span><span class="p">,</span><span class="w">
                </span><span class="s1">'MaritalStatus'</span><span class="p">,</span><span class="s1">'Occupation'</span><span class="p">,</span><span class="s1">'Relationship'</span><span class="p">,</span><span class="s1">'Race'</span><span class="p">,</span><span class="w">
                </span><span class="s1">'Sex'</span><span class="p">,</span><span class="s1">'CapitalGain'</span><span class="p">,</span><span class="s1">'CapitalLoss'</span><span class="p">,</span><span class="s1">'HoursWeek'</span><span class="p">,</span><span class="w">
                </span><span class="s1">'NativeCountry'</span><span class="p">,</span><span class="s1">'Income'</span><span class="p">)</span><span class="w">

</span><span class="n">adults</span><span class="o">$</span><span class="n">Income</span><span class="w"> </span><span class="o">&lt;-</span><span class="w"> </span><span class="n">ifelse</span><span class="p">(</span><span class="n">adults</span><span class="o">$</span><span class="n">Income</span><span class="o">==</span><span class="s1">' &lt;=50K'</span><span class="p">,</span><span class="m">0</span><span class="p">,</span><span class="m">1</span><span class="p">)</span><span class="w">
</span></code></pre>
</div>
<p><br /><br />
We load the <strong>caret</strong> package to <a href="http://amunategui.github.io/dummyVar-Walkthrough/" target="_blank">dummify (see my other walkthrough)</a> all factor variables as the <code class="highlighter-rouge">cor</code> function only accepts numerical values:</p>

<div class="language-r highlighter-rouge"><pre class="highlight"><code><span class="n">dmy</span><span class="w"> </span><span class="o">&lt;-</span><span class="w"> </span><span class="n">dummyVars</span><span class="p">(</span><span class="s2">" ~ ."</span><span class="p">,</span><span class="w"> </span><span class="n">data</span><span class="w"> </span><span class="o">=</span><span class="w"> </span><span class="n">adults</span><span class="p">)</span><span class="w">
</span><span class="n">adultsTrsf</span><span class="w"> </span><span class="o">&lt;-</span><span class="w"> </span><span class="n">data.frame</span><span class="p">(</span><span class="n">predict</span><span class="p">(</span><span class="n">dmy</span><span class="p">,</span><span class="w"> </span><span class="n">newdata</span><span class="w"> </span><span class="o">=</span><span class="w"> </span><span class="n">adults</span><span class="p">))</span><span class="w">
</span></code></pre>
</div>
<p><br /><br />
We borrow two very useful functions from <a href="https://gist.github.com/stephenturner/3492773" target="_blank">Stephen Turner</a>: <code class="highlighter-rouge">cor.prob</code> and <code class="highlighter-rouge">flattenSquareMatrix</code>. <strong>cor.prob</strong> will create a correlation matrix along with <i>p</i>-values and <strong>flattenSquareMatrix</strong> will flatten all the combinations from the square matrix into a data frame of 4 columns made up of row names, column names, the correlation value and the <i>p</i>-value:</p>

<div class="language-r highlighter-rouge"><pre class="highlight"><code><span class="n">corMasterList</span><span class="w"> </span><span class="o">&lt;-</span><span class="w"> </span><span class="n">flattenSquareMatrix</span><span class="w"> </span><span class="p">(</span><span class="n">cor.prob</span><span class="p">(</span><span class="n">adultsTrsf</span><span class="p">))</span><span class="w">
</span><span class="n">print</span><span class="p">(</span><span class="n">head</span><span class="p">(</span><span class="n">corMasterList</span><span class="p">,</span><span class="m">10</span><span class="p">))</span><span class="w">
</span></code></pre>
</div>

<div class="highlighter-rouge"><pre class="highlight"><code>##                         i                       j       cor         p
## 1                     age            workclass...  0.042627 1.421e-14
## 2                     age  workclass..Federal.gov  0.051227 0.000e+00
## 3            workclass...  workclass..Federal.gov -0.042606 1.454e-14
## 4                     age    workclass..Local.gov  0.060901 0.000e+00
## 5            workclass...    workclass..Local.gov -0.064070 0.000e+00
## 6  workclass..Federal.gov    workclass..Local.gov -0.045682 2.220e-16
## 7                     age workclass..Never.worked -0.019362 4.759e-04
## 8            workclass... workclass..Never.worked -0.003585 5.178e-01
## 9  workclass..Federal.gov workclass..Never.worked -0.002556 6.447e-01
## 10   workclass..Local.gov workclass..Never.worked -0.003843 4.880e-01
</code></pre>
</div>
<p><br /><br />
This final format allows you to easily order the pairs however you want - for example, by those with the highest absolute correlation value:</p>

<div class="language-r highlighter-rouge"><pre class="highlight"><code><span class="n">corList</span><span class="w"> </span><span class="o">&lt;-</span><span class="w"> </span><span class="n">corMasterList</span><span class="p">[</span><span class="n">order</span><span class="p">(</span><span class="o">-</span><span class="nf">abs</span><span class="p">(</span><span class="n">corMasterList</span><span class="o">$</span><span class="n">cor</span><span class="p">)),]</span><span class="w">
</span><span class="n">print</span><span class="p">(</span><span class="n">head</span><span class="p">(</span><span class="n">corList</span><span class="p">,</span><span class="m">10</span><span class="p">))</span><span class="w">
</span></code></pre>
</div>

<div class="highlighter-rouge"><pre class="highlight"><code>##                                      i                            j        cor p
## 1953                       sex..Female                    sex..Male -1.0000000 0
## 597                       workclass...                occupation...  0.9979854 0
## 1256 maritalStatus..Married.civ.spouse        relationship..Husband  0.8932103 0
## 1829                       race..Black                  race..White -0.7887475 0
## 527  maritalStatus..Married.civ.spouse maritalStatus..Never.married -0.6448661 0
## 1881             relationship..Husband                  sex..Female -0.5801353 0
## 1942             relationship..Husband                    sex..Male  0.5801353 0
## 1258      maritalStatus..Never.married        relationship..Husband -0.5767295 0
## 1306 maritalStatus..Married.civ.spouse  relationship..Not.in.family -0.5375883 0
## 497                                age maritalStatus..Never.married -0.5343590 0
</code></pre>
</div>
<p><br /><br />
The top correlated pair (sex..Female and sex.Male), as seen above, won’t be of much use as they are the only two levels of the same factor. We need to process this a little further to be of practical use. We create a single vector of variable names by filtering those with an absolute correlation of 0.2 or higher against the outcome variable of <code class="highlighter-rouge">Income</code>:</p>

<div class="language-r highlighter-rouge"><pre class="highlight"><code><span class="n">selectedSub</span><span class="w"> </span><span class="o">&lt;-</span><span class="w"> </span><span class="n">subset</span><span class="p">(</span><span class="n">corList</span><span class="p">,</span><span class="w"> </span><span class="p">(</span><span class="nf">abs</span><span class="p">(</span><span class="n">cor</span><span class="p">)</span><span class="w"> </span><span class="o">&gt;</span><span class="w"> </span><span class="m">0.2</span><span class="w"> </span><span class="o">&amp;</span><span class="w"> </span><span class="n">j</span><span class="w"> </span><span class="o">==</span><span class="w"> </span><span class="s1">'Income'</span><span class="p">))</span><span class="w">
</span><span class="n">print</span><span class="p">(</span><span class="n">selectedSub</span><span class="p">)</span><span class="w">
                                     </span><span class="n">i</span><span class="w">      </span><span class="n">j</span><span class="w">        </span><span class="n">cor</span><span class="w"> </span><span class="n">p</span><span class="w">
</span><span class="c1">## 5811      MaritalStatus..Never.married Income -0.3184403 0
## 5832           Relationship..Own.child Income -0.2285320 0
## 5840                       Sex..Female Income -0.2159802 0
## 5818       Occupation..Exec.managerial Income  0.2148613 0
## 5841                         Sex..Male Income  0.2159802 0
## 5842                       CapitalGain Income  0.2233288 0
## 5844                         HoursWeek Income  0.2296891 0
## 5779                               Age Income  0.2340371 0
## 5806                  Education.Number Income  0.3351540 0
## 5829             Relationship..Husband Income  0.4010353 0
## 5809 MaritalStatus..Married.civ.spouse Income  0.4446962 0
</span></code></pre>
</div>
<p><br /><br />
We save the most correlated features to the <code class="highlighter-rouge">bestSub</code> variable:<br /></p>

<div class="language-r highlighter-rouge"><pre class="highlight"><code><span class="n">bestSub</span><span class="w"> </span><span class="o">&lt;-</span><span class="w"> </span><span class="nf">as.character</span><span class="p">(</span><span class="n">selectedSub</span><span class="o">$</span><span class="n">i</span><span class="p">)</span><span class="w">
</span></code></pre>
</div>

{% include follow-me.html %}

<p><br /><br />
Finally we plot the highly correlated pairs using the <strong>{psych}</strong> package’s <code class="highlighter-rouge">pair.panels</code> plot (this can also be done on the original data as <code class="highlighter-rouge">pair.panels</code> can handle factor and character variables):<br /></p>

<div class="language-r highlighter-rouge"><pre class="highlight"><code><span class="n">library</span><span class="p">(</span><span class="n">psych</span><span class="p">)</span><span class="w">
</span><span class="n">pairs.panels</span><span class="p">(</span><span class="n">adultsTrsf</span><span class="p">[</span><span class="nf">c</span><span class="p">(</span><span class="n">bestSub</span><span class="p">,</span><span class="w"> </span><span class="s1">'Income'</span><span class="p">)])</span><span class="w">
</span></code></pre>
</div>
<p><br /><br />
<img src="img/unnamed-chunk-9.png" alt="plot of chunk unnamed-chunk-9" />
<br /><br />
The pairs plot, and in particular the last <code class="highlighter-rouge">Income</code> column, tell us a lot about our data set. Being <code class="highlighter-rouge">never married</code> is the most negatively correlated with income over $50,000/year and <code class="highlighter-rouge">Hours Worked</code> and <code class="highlighter-rouge">Age</code> are the most postively correlated.<br /><br />
<strong>Things to keep in mind</strong><br /></p>
<li>If you have a huge number of features in your data set, then be ready for extra computing time,</li>
<li>and don't bother plotting it via ``pair.panels``, it will end up hanging R.</li>

<p><br /><br />      <br />
<a id="sourcecode">Full source code (<a href="https://github.com/amunategui/Exploring-Data-With-Correlations" target="_blank">also on GitHub</a>)</a>:</p>

<div class="language-r highlighter-rouge"><pre class="highlight"><code><span class="n">library</span><span class="p">(</span><span class="n">RCurl</span><span class="p">)</span><span class="w"> </span><span class="c1"># download https data
</span><span class="n">urlfile</span><span class="w"> </span><span class="o">&lt;-</span><span class="w"> </span><span class="s1">'https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data'</span><span class="w">
</span><span class="n">x</span><span class="w"> </span><span class="o">&lt;-</span><span class="w"> </span><span class="n">getURL</span><span class="p">(</span><span class="n">urlfile</span><span class="p">,</span><span class="w"> </span><span class="n">ssl.verifypeer</span><span class="w"> </span><span class="o">=</span><span class="w"> </span><span class="kc">FALSE</span><span class="p">)</span><span class="w">
</span><span class="n">adults</span><span class="w"> </span><span class="o">&lt;-</span><span class="w"> </span><span class="n">read.csv</span><span class="p">(</span><span class="n">textConnection</span><span class="p">(</span><span class="n">x</span><span class="p">),</span><span class="w"> </span><span class="n">header</span><span class="o">=</span><span class="nb">F</span><span class="p">)</span><span class="w">

</span><span class="c1"># if the above getURL command fails, try this:
# adults &lt;-read.csv('https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data', header=F)
</span><span class="w">
</span><span class="nf">names</span><span class="p">(</span><span class="n">adults</span><span class="p">)</span><span class="o">=</span><span class="nf">c</span><span class="p">(</span><span class="s1">'Age'</span><span class="p">,</span><span class="s1">'Workclass'</span><span class="p">,</span><span class="s1">'FinalWeight'</span><span class="p">,</span><span class="s1">'Education'</span><span class="p">,</span><span class="s1">'EducationNumber'</span><span class="p">,</span><span class="w">
                </span><span class="s1">'MaritalStatus'</span><span class="p">,</span><span class="s1">'Occupation'</span><span class="p">,</span><span class="s1">'Relationship'</span><span class="p">,</span><span class="s1">'Race'</span><span class="p">,</span><span class="w">
                </span><span class="s1">'Sex'</span><span class="p">,</span><span class="s1">'CapitalGain'</span><span class="p">,</span><span class="s1">'CapitalLoss'</span><span class="p">,</span><span class="s1">'HoursWeek'</span><span class="p">,</span><span class="w">
                </span><span class="s1">'NativeCountry'</span><span class="p">,</span><span class="s1">'Income'</span><span class="p">)</span><span class="w">

</span><span class="n">adults</span><span class="o">$</span><span class="n">Income</span><span class="w"> </span><span class="o">&lt;-</span><span class="w"> </span><span class="n">ifelse</span><span class="p">(</span><span class="n">adults</span><span class="o">$</span><span class="n">Income</span><span class="o">==</span><span class="s1">' &lt;=50K'</span><span class="p">,</span><span class="m">0</span><span class="p">,</span><span class="m">1</span><span class="p">)</span><span class="w">

</span><span class="n">library</span><span class="p">(</span><span class="n">caret</span><span class="p">)</span><span class="w">
</span><span class="n">dmy</span><span class="w"> </span><span class="o">&lt;-</span><span class="w"> </span><span class="n">dummyVars</span><span class="p">(</span><span class="s2">" ~ ."</span><span class="p">,</span><span class="w"> </span><span class="n">data</span><span class="w"> </span><span class="o">=</span><span class="w"> </span><span class="n">adults</span><span class="p">)</span><span class="w">
</span><span class="n">adultsTrsf</span><span class="w"> </span><span class="o">&lt;-</span><span class="w"> </span><span class="n">data.frame</span><span class="p">(</span><span class="n">predict</span><span class="p">(</span><span class="n">dmy</span><span class="p">,</span><span class="w"> </span><span class="n">newdata</span><span class="w"> </span><span class="o">=</span><span class="w"> </span><span class="n">adults</span><span class="p">))</span><span class="w">

</span><span class="c1">## Correlation matrix with p-values. See http://goo.gl/nahmV for documentation of this function
</span><span class="n">cor.prob</span><span class="w"> </span><span class="o">&lt;-</span><span class="w"> </span><span class="k">function</span><span class="w"> </span><span class="p">(</span><span class="n">X</span><span class="p">,</span><span class="w"> </span><span class="n">dfr</span><span class="w"> </span><span class="o">=</span><span class="w"> </span><span class="n">nrow</span><span class="p">(</span><span class="n">X</span><span class="p">)</span><span class="w"> </span><span class="o">-</span><span class="w"> </span><span class="m">2</span><span class="p">)</span><span class="w"> </span><span class="p">{</span><span class="w">
        </span><span class="n">R</span><span class="w"> </span><span class="o">&lt;-</span><span class="w"> </span><span class="n">cor</span><span class="p">(</span><span class="n">X</span><span class="p">,</span><span class="w"> </span><span class="n">use</span><span class="o">=</span><span class="s2">"pairwise.complete.obs"</span><span class="p">)</span><span class="w">
        </span><span class="n">above</span><span class="w"> </span><span class="o">&lt;-</span><span class="w"> </span><span class="n">row</span><span class="p">(</span><span class="n">R</span><span class="p">)</span><span class="w"> </span><span class="o">&lt;</span><span class="w"> </span><span class="n">col</span><span class="p">(</span><span class="n">R</span><span class="p">)</span><span class="w">
        </span><span class="n">r</span><span class="m">2</span><span class="w"> </span><span class="o">&lt;-</span><span class="w"> </span><span class="n">R</span><span class="p">[</span><span class="n">above</span><span class="p">]</span><span class="o">^</span><span class="m">2</span><span class="w">
        </span><span class="n">Fstat</span><span class="w"> </span><span class="o">&lt;-</span><span class="w"> </span><span class="n">r</span><span class="m">2</span><span class="w"> </span><span class="o">*</span><span class="w"> </span><span class="n">dfr</span><span class="o">/</span><span class="p">(</span><span class="m">1</span><span class="w"> </span><span class="o">-</span><span class="w"> </span><span class="n">r</span><span class="m">2</span><span class="p">)</span><span class="w">
        </span><span class="n">R</span><span class="p">[</span><span class="n">above</span><span class="p">]</span><span class="w"> </span><span class="o">&lt;-</span><span class="w"> </span><span class="m">1</span><span class="w"> </span><span class="o">-</span><span class="w"> </span><span class="n">pf</span><span class="p">(</span><span class="n">Fstat</span><span class="p">,</span><span class="w"> </span><span class="m">1</span><span class="p">,</span><span class="w"> </span><span class="n">dfr</span><span class="p">)</span><span class="w">
        </span><span class="n">R</span><span class="p">[</span><span class="n">row</span><span class="p">(</span><span class="n">R</span><span class="p">)</span><span class="w"> </span><span class="o">==</span><span class="w"> </span><span class="n">col</span><span class="p">(</span><span class="n">R</span><span class="p">)]</span><span class="w"> </span><span class="o">&lt;-</span><span class="w"> </span><span class="kc">NA</span><span class="w">
        </span><span class="n">R</span><span class="w">
</span><span class="p">}</span><span class="w">

</span><span class="c1">## Use this to dump the cor.prob output to a 4 column matrix
## with row/column indices, correlation, and p-value.
## See StackOverflow question: http://goo.gl/fCUcQ
</span><span class="n">flattenSquareMatrix</span><span class="w"> </span><span class="o">&lt;-</span><span class="w"> </span><span class="k">function</span><span class="p">(</span><span class="n">m</span><span class="p">)</span><span class="w"> </span><span class="p">{</span><span class="w">
        </span><span class="k">if</span><span class="p">(</span><span class="w"> </span><span class="p">(</span><span class="nf">class</span><span class="p">(</span><span class="n">m</span><span class="p">)</span><span class="w"> </span><span class="o">!=</span><span class="w"> </span><span class="s2">"matrix"</span><span class="p">)</span><span class="w"> </span><span class="o">|</span><span class="w"> </span><span class="p">(</span><span class="n">nrow</span><span class="p">(</span><span class="n">m</span><span class="p">)</span><span class="w"> </span><span class="o">!=</span><span class="w"> </span><span class="n">ncol</span><span class="p">(</span><span class="n">m</span><span class="p">)))</span><span class="w"> </span><span class="n">stop</span><span class="p">(</span><span class="s2">"Must be a square matrix."</span><span class="p">)</span><span class="w">
        </span><span class="k">if</span><span class="p">(</span><span class="o">!</span><span class="n">identical</span><span class="p">(</span><span class="n">rownames</span><span class="p">(</span><span class="n">m</span><span class="p">),</span><span class="w"> </span><span class="n">colnames</span><span class="p">(</span><span class="n">m</span><span class="p">)))</span><span class="w"> </span><span class="n">stop</span><span class="p">(</span><span class="s2">"Row and column names must be equal."</span><span class="p">)</span><span class="w">
        </span><span class="n">ut</span><span class="w"> </span><span class="o">&lt;-</span><span class="w"> </span><span class="n">upper.tri</span><span class="p">(</span><span class="n">m</span><span class="p">)</span><span class="w">
        </span><span class="n">data.frame</span><span class="p">(</span><span class="n">i</span><span class="w"> </span><span class="o">=</span><span class="w"> </span><span class="n">rownames</span><span class="p">(</span><span class="n">m</span><span class="p">)[</span><span class="n">row</span><span class="p">(</span><span class="n">m</span><span class="p">)[</span><span class="n">ut</span><span class="p">]],</span><span class="w">
                   </span><span class="n">j</span><span class="w"> </span><span class="o">=</span><span class="w"> </span><span class="n">rownames</span><span class="p">(</span><span class="n">m</span><span class="p">)[</span><span class="n">col</span><span class="p">(</span><span class="n">m</span><span class="p">)[</span><span class="n">ut</span><span class="p">]],</span><span class="w">
                   </span><span class="n">cor</span><span class="o">=</span><span class="n">t</span><span class="p">(</span><span class="n">m</span><span class="p">)[</span><span class="n">ut</span><span class="p">],</span><span class="w">
                   </span><span class="n">p</span><span class="o">=</span><span class="n">m</span><span class="p">[</span><span class="n">ut</span><span class="p">])</span><span class="w">
</span><span class="p">}</span><span class="w">

</span><span class="n">corMasterList</span><span class="w"> </span><span class="o">&lt;-</span><span class="w"> </span><span class="n">flattenSquareMatrix</span><span class="w"> </span><span class="p">(</span><span class="n">cor.prob</span><span class="p">(</span><span class="n">adultsTrsf</span><span class="p">))</span><span class="w">
</span><span class="n">print</span><span class="p">(</span><span class="n">head</span><span class="p">(</span><span class="n">corMasterList</span><span class="p">,</span><span class="m">10</span><span class="p">))</span><span class="w">

</span><span class="n">corList</span><span class="w"> </span><span class="o">&lt;-</span><span class="w"> </span><span class="n">corMasterList</span><span class="p">[</span><span class="n">order</span><span class="p">(</span><span class="o">-</span><span class="nf">abs</span><span class="p">(</span><span class="n">corMasterList</span><span class="o">$</span><span class="n">cor</span><span class="p">)),]</span><span class="w">
</span><span class="n">print</span><span class="p">(</span><span class="n">head</span><span class="p">(</span><span class="n">corList</span><span class="p">,</span><span class="m">10</span><span class="p">))</span><span class="w">

</span><span class="n">corList</span><span class="w"> </span><span class="o">&lt;-</span><span class="w"> </span><span class="n">corMasterList</span><span class="p">[</span><span class="n">order</span><span class="p">(</span><span class="n">corMasterList</span><span class="o">$</span><span class="n">cor</span><span class="p">),]</span><span class="w">
</span><span class="n">selectedSub</span><span class="w"> </span><span class="o">&lt;-</span><span class="w"> </span><span class="n">subset</span><span class="p">(</span><span class="n">corList</span><span class="p">,</span><span class="w"> </span><span class="p">(</span><span class="nf">abs</span><span class="p">(</span><span class="n">cor</span><span class="p">)</span><span class="w"> </span><span class="o">&gt;</span><span class="w"> </span><span class="m">0.2</span><span class="w"> </span><span class="o">&amp;</span><span class="w"> </span><span class="n">j</span><span class="w"> </span><span class="o">==</span><span class="w"> </span><span class="s1">'Income'</span><span class="p">))</span><span class="w">
</span><span class="c1"># to get the best variables from original list:
</span><span class="n">bestSub</span><span class="w"> </span><span class="o">&lt;-</span><span class="w">  </span><span class="n">sapply</span><span class="p">(</span><span class="n">strsplit</span><span class="p">(</span><span class="nf">as.character</span><span class="p">(</span><span class="n">selectedSub</span><span class="o">$</span><span class="n">i</span><span class="p">),</span><span class="s1">'[.]'</span><span class="p">),</span><span class="w"> </span><span class="s2">"["</span><span class="p">,</span><span class="w"> </span><span class="m">1</span><span class="p">)</span><span class="w">
</span><span class="n">bestSub</span><span class="w"> </span><span class="o">&lt;-</span><span class="w"> </span><span class="n">unique</span><span class="p">(</span><span class="n">bestSub</span><span class="p">)</span><span class="w">

</span><span class="c1"># or use the variables from top selectedSub:
</span><span class="n">bestSub</span><span class="w"> </span><span class="o">&lt;-</span><span class="w"> </span><span class="nf">as.character</span><span class="p">(</span><span class="n">selectedSub</span><span class="o">$</span><span class="n">i</span><span class="p">)</span><span class="w">

</span><span class="n">library</span><span class="p">(</span><span class="n">psych</span><span class="p">)</span><span class="w">
</span><span class="n">pairs.panels</span><span class="p">(</span><span class="n">adultsTrsf</span><span class="p">[</span><span class="nf">c</span><span class="p">(</span><span class="n">bestSub</span><span class="p">,</span><span class="w"> </span><span class="s1">'Income'</span><span class="p">)])</span><span class="w">
</span></code></pre>
</div>
		
</div>
<p>Manuel Amunategui - Follow me on Twitter: @amunategui</p>

		</div>		 
	 </div>   
 
</main>
{% include mid_point_ad.html %}

{% include footer.html %}
  </body>
</html>
