---
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    
    <meta property="og:description" content="It Contains Some 40 Years of News Worldwide Sources Begging for Your Questions, Analysis, and Discoveries">
    <meta name="description" content="It Contains Some 40 Years of News Worldwide Sources Begging for Your Questions, Analysis, and Discoveries">
    <meta name="title" content="GDELT - World Events at Your Finger Tips and for Free!">
    <meta name="og:title" content="GDELT - World Events at Your Finger Tips and for Free!">

    <meta name="author" content="Manuel Amunategui">
    <link rel="icon" href="../favicon.ico">

    <title>GDELT - World Events at Your Finger Tips and for Free!</title>

    {% include externals.html %}
  
  </head>

<style>
  code {
    background-color: #eee;
    border-radius: 3px;
    font-family: courier, monospace;
    padding: 0 3px;
}
</style>

 
<body>

<main role="main">

{% include header.html %}
   
{% include signup.html %}

<div class="container">
  <div class="blog-header">
    <h1 class="blog-title">How to Create Your Own Free Email Signup Form and Enjoy 100% Creative Freedom - For Static & Semi-Static Web Sites</h1>
  </div>
 
<p><br /><br />
<strong>Resources</strong></p>
<ul>
<li type="square"><a href="https://www.youtube.com/watch?v=-L21skX9DL8&index=1&list=UUq4pm1i_VZqxKVVOz5qRBIA" target="_blank">YouTube Companion Video</a></li>
</ul>

<BR>
<p style="text-align:center">
<img src="img/gdelt-glob.gif" alt="gdelt glob" 
style='padding:1px; border:1px solid #021a40; width:270px; height:294px'>
</p>
<BR><BR>

<BR><BR>
<H2>The Global Database of Events, Language and Tone (GDELT) contains Some 40 Years of News Worldwide Sources Begging for Your Questions, Analysis, and Discoveries</H2>

<p>This is going to be a quick flyover GDELT. It’s a phenomenal resource that I don’t think enough data scientists and analysts know about or if they know about it, don’t realize how easy it is to work with.</p>

<p>GDELT and BQ are phenomenal tools that aren’t used enough in my opinion -  its up-there cool like <a href='https://trends.google.com/trends/trendingsearches/daily?geo=US' target='_blank'>Google Trends and Trending Searches</a>.</p>


<p>Google's BigQuery provides free access to the GDELT database along with 1TB of free BigQuery processing every month. This is great and very generous, but keep in mind that 1TB with GDELT on BQ can go quick! So, to make this last, I’ll show you ways of querying only small subsets of data using <b>_PARTITIONTIME</b> and also a cool Chrome plugin a colleague turned me onto that will estimate query costs.</p> 

<BR><BR>
<H3>What is GDELT?</H3>

<p>"The Global Database of Events, Language and Tone is one of the largest datasets on the planet. It is the quantitative database of human society, relying on thousands of news sources from every corner of the globe dating back to 1979." (See https://www.gdeltproject.org/)</p>




<BR><BR>
<p>Thanks for reading!</p>

<p>Manuel Amunategui</p>

<p>Author: <a href='https://amzn.to/2CRUOKu' target='_blank'>Monetizing Machine Learning</a>, Curator of <a href='http://amunategui.github.io/' target='_blank'>amunategui.github.io</a> and <a href='http://www.viralml.com/' target='_blank'>ViralML</a></p>





{% include mid_point_ad.html %}


</div>



</main>
{% include footer.html %}
  </body>
</html>

