<BR><BR><BR><BR>
<p><img src="https://en.gravatar.com/userimage/33909058/3cd1f8559ccb482feefc737a1c7917ef.png" alt="Manuel Amunategui" title="My mug"  class="img-thumbnail floatLeft" />			
Hello! I am a data scientist in the healthcare industry and an avid competitive modeler on <a href="http://www.kaggle.com/users/93429/amunategui" title="Kaggle.com" target="_blank"><i>Kaggle.com</i></a>, <a href="https://crowdanalytix.com/members/amunategui/detail.htm" title="Crowdanalytix.com" target="_blank"><i>CrowdANALYTIX.com</i></a>, <a href="https://www.datascience.net/fr/home/" title="Datascience.net" target="_blank"><i>Datascience.net</i></a> and <a href="http://www.drivendata.org/competitions/" title="DrivenData.org" target="_blank"><i>DrivenData.org</i></a>
<BR><BR>
<p style="text-align:left;color:red">
<b>Check out my classes on: <a href="https://www.udemy.com/courses/search/?ref=home&q=amunategui" rel="tooltip" title="My classes on Udemy.com" target="_blank"><img src="../img/udemy_logo.png" height="82" width="210" alt="Udemy.com"></a></b></p><BR>

<p color:black"><img src="../img/high_dimensionclass_logo.png" alt="free-top-row" style='padding:2px; border:1px solid #021a40;' align="left" hspace="20"><a href='https://www.udemy.com/practical-data-science-reducing-high-dimensional-data-in-r/' target='_blank'>11 lectures on 'Reducing High Dimensional Data in R' at Udemy.com</a> </p>
<BR><BR>
{{site.baseurl}}
<p color:black"><img src="../img/spark_class_logo.png" alt="free-top-row" style='padding:7px; border:1px solid #021a40;' align="left" hspace="20"><a href='https://www.udemy.com/supercharge-r-with-sparkr/' target='_blank'>11 lectures on 'SparkR, modeling, S3 and HDFS' at Udemy.com</a></p>

<BR><BR>
<p color:black"><img src="../img/quantmod_class_logo.png" alt="free-top-row" style='padding:2px; border:1px solid #021a40;' align="left" hspace="20"><a href='https://www.udemy.com/practical-data-science-analyzing-stock-market-data-with-r' target='_blank'>18 lectures on 'Quantmod and R' available at Udemy.com</a></p>

<BR><BR><BR><BR>
Help support the AWS cost for the latest walkthroughs - ty all the way!
</p>
<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
	<input type="hidden" name="cmd" value="_s-xclick">
	<input type="hidden" name="hosted_button_id" value="9EYHL3R32V6Z4">
	<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
	<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>

Thanks for visiting!<br>
Manuel Amunategui<br>
amunategui@gmail.com
<BR><BR>			
	
<p>
	<ul class="buttons unstyled">
	  <li><a href="http://github.com/amunategui" rel="me" class="social github" title="Go to github.com/amunategui" target="_blank"></a></li>
	  <li><a href="https://www.linkedin.com/pub/manuel-amunategui/23/489/207" rel="me" class="social linkedin" title="Go to LinkedIn profile" target="_blank"></a></li>
	  <li><a href="https://github.com/amunategui/Feedback/issues/new" rel="me" class="social mail" title="Leave feedback for Manuel"  target="_blank"></a></li>
	</ul>
</p>


