<h2>Hi! I'm Manuel</h2>
<p><img src="https://en.gravatar.com/userimage/33909058/3cd1f8559ccb482feefc737a1c7917ef.png" alt="Manuel Amunategui" title="Hi there!"  class="img-thumbnail floatLeft" />			
This is where I share tips and walk-throughs that I think may be of use to others. I am especially motivated about writing whenever I've struggled with a issue that is poorly  covered on the web.<BR><BR>
A special thanks to <a href="http://erjjones.github.io/blog/How-I-built-my-blog-in-one-day/" title="How-I-built-my-blog-in-one-day" target="_blank">Eric Jones for site tips</a> - I ended up copying most of what you did - Thanks again!!</p>					
<p>
	<ul class="buttons unstyled">
	  <li><a href="http://github.com/amunategui" rel="me" class="social github" title="Go to github.com/amunategui" target="_blank"></a></li>
	  <li><a href="https://www.linkedin.com/pub/manuel-amunategui/23/489/207" rel="me" class="social linkedin" title="Go to LinkedIn profile" target="_blank"></a></li>
	  <li><a href="https://github.com/amunategui/Feedback/issues/new" rel="me" class="social mail" title="Leave feedback for Manuel"  target="_blank"></a></li>
	</ul>
</p>