
  <script type="text/javascript">
  var imageURLs = [
       "https://amunategui.github.io/become-a-data-scientist-1.png"
     , "https://amunategui.github.io/become-a-data-scientist-2.png"
  
  ];
  function getImageTag() {
    var img = '<img style="padding:0px; border:0px; width: 543px; height: 184px" src=\"';
    var randomIndex = Math.floor(Math.random() * imageURLs.length);
    img += imageURLs[randomIndex];
    img += '\" alt=\"Free e-book\"/>';
    return img;
  }

 


</script>

<style>
 
#images{
    text-align:center;
}
</style>
 
    <header>
      <img src="https://amunategui.github.io/pixel.gif?page={{ page.url | absolute_url }}" style="width: 1px; height: 1px" />
      <div class="collapse bg-dark" id="navbarHeader">
        <div class="container">
          <div class="row">
            <div class="col-sm-4 offset-md-1 py-4">
              <img src="https://amunategui.github.io/me2.JPG" alt="Manuel Amunategui" title="My mug"  class="img-thumbnail floatLeft" />     
            </div>
            <div class="col-sm-8 col-md-7 py-4">
              <h4 class="text-white">About Manuel Amunategui</h4>
              <p class="text-white">Data scientist with over 20-years experience in the tech industry, MAs in Predictive Analytics and
              International Administration, co-author of <a href='http://www.viralml.com/monetizing-machine-learning?page=aboutme'>Monetizing Machine Learning</a> and VP of Data Science at <a href="https://springml.com/" target="_blank">SpringML</a>.
              <BR><BR>
              From consulting in machine learning, healthcare modeling, 6 years on Wall Street in the financial industry, and 4 years at Microsoft, I feel like I’ve seen it all. And this has opened my eyes to the huge gap in educational material on applied data science. Like I say:</p>
              <BR>
              <p class="text-white" style="text-align:center">
              <i>It just ain’t real 'til it reaches your customer’s plate</i>
              </p>
              <BR>
              <p class="text-white">
              I am a startup advisor and available for speaking engagements with companies and schools on topics around building and motivating data science teams, and all things applied machine learning.
              <BR><BR>
              Reach me at amunategui@gmail.com
            </p>
 
            </div>

          </div>
        </div>
      </div>

      <div class="navbar navbar-dark bg-dark box-shadow">
        <div class="container d-flex justify-content-between">
          <a href="https://amunategui.github.io" class="navbar-brand d-flex align-items-center">
               <span class="fa fa-home"></span><strong style="color:lightgray">Home</strong>
          </a>
    
          <a href="https://www.linkedin.com/in/manuel-amunategui-20748923" target='_blank'  class="navbar-brand d-flex align-items-center">
            <span class="fa fa-briefcase"></span><strong style="color:lightgray">Linkedin</strong>
          </a>
          <a href="https://www.youtube.com/user/mamunate/videos" target='_blank' class="navbar-brand d-flex align-items-center">
            <span class="fa fa-film"></span><strong style="color:lightgray">Videos</strong>
          </a>
          <a href="https://twitter.com/amunategui"
           class="navbar-brand d-flex align-items-center">
               <span class="fa fa-twitter"></span><strong style="color:lightgray">Follow @amunategui</strong>
          </a>
          <!--
          <a href="https://medium.com/@amunategui/latest" target='_blank' class="navbar-brand d-flex align-items-center">
            <span class="fa fa-pencil-square-o"></span><strong style="color:lightgray">Medium</strong>
          </a>
          -->
          <a href="http://www.viralml.com" target='_blank' class="navbar-brand d-flex align-items-center">
            <span class="fa fa-book"></span><strong style="color:lightgray">ViralML.com</strong>
          </a>

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
            <span>About Me</span>
          </button>
        </div>
      </div>



<!--
          <div id="images">
 
            <a href='http://www.viralml.com/monetizing-machine-learning?page={{ page.url | absolute_url }}'  target='_blank'>
              <img src="https://amunategui.github.io/monetizing ml book is available on apressl.png" alt="My new book Monetizing Machine Learning" title="My new book Monetizing Machine Learning"
                        style="padding:0px; border:0px; width: 863px; height: 259px" />
            </a>


            
           <a href='https://medium.com/@amunategui/latest' 
             target='_blank'>
              <img src="https://amunategui.github.io/medium-ad-transparent.png" alt="Medium" title="Me on Medium" style="padding:0px; border:0px; width: 632px; height: 186px" />
            </a>
         
             <a href='https://www.apress.com/us/book/9781484238721'  target='_blank'>
              <img src="https://amunategui.github.io/new-book-monetizing-ml-4.png" alt="My new book Monetizing Machine Learning" title="My new book Monetizing Machine Learning"
                        style="padding:0px; border:0px; width: 526px; height: 180px" />
            </a>

             
              <a href='https://amunategui.github.io/tips-for-aspiring-datascientists.pdf' 
                 target='_blank' onClick="ga('send','event','guides','tips-for-aspiring-datascientists.pdf',10);">
                <script type="text/javascript">
                  document.write(getImageTag());
                </script>
                </a>
                

        </div>
 -->
 
    </header>
