
    <header>
      <div class="collapse bg-dark" id="navbarHeader">
        <div class="container">
          <div class="row">
            <div class="col-sm-4 offset-md-1 py-4">
              <img src="https://amunategui.github.io/me2.JPG" alt="Manuel Amunategui" title="My mug"  class="img-thumbnail floatLeft" />     
            </div>
            <div class="col-sm-8 col-md-7 py-4">
              <h4 class="text-white">About Manuel Amunategui</h4>
              <p class="text-muted">Data scientist with over 20-years experience in the tech industry, MAs in Predictive Analytics and International Administration, and VP of Data Science at <a href="https://springml.com/" target="_blank">SpringML</a>.
              <BR><BR>
              From consulting in machine learning, healthcare modeling, 6 years on Wall Street in the financial industry, and 4 years at Microsoft, I feel like I’ve seen it all. And this has opened my eyes to the gaps in this field with a huge lack of educational material in the applied data science arena. Like I say:
              <BR><BR>
              <i>It ain’t real 'til it reaches your customer’s plate</i> 
              <BR><BR>
              I am a startup advisor and available for speaking engagements with companies and schools on topics around building and motivating data science teams, and all things applied machine learning.
              <BR><BR>
              Reach me at amunategui@gmail.com
            </p>
 
            </div>

          </div>
        </div>
      </div>

      <div class="navbar navbar-dark bg-dark box-shadow">
        <div class="container d-flex justify-content-between">
          <a href="https://amunategui.github.io" class="navbar-brand d-flex align-items-center">
               <span class="fa fa-home"></span><strong>Home</strong>
          </a>
    
          <a href="https://www.linkedin.com/in/manuel-amunategui-20748923" target='_blank'  class="navbar-brand d-flex align-items-center">
            <span class="fa fa-briefcase"></span><strong>Linkedin</strong>
          </a>
          <a href="https://www.youtube.com/user/mamunate/videos" target='_blank' class="navbar-brand d-flex align-items-center">
            <span class="fa fa-film"></span><strong>Videos</strong>
          </a>
          <a href="https://github.com/amunategui/Feedback/issues/new" target='_blank' class="navbar-brand d-flex align-items-center">   
            <span class="fa fa-envelope"></span><strong>Feedback</strong>
          </a>

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
            <span>About Me</span>
          </button>
        </div>
      </div>
 
      <section class="jumbotron text-center">
        <div class="container">
         <p style="text-align:center">
          <a href='https://amunategui.github.io/tips-for-aspiring-datascientists.pdf' 
             target='_blank' onClick="ga('send','event','guides','tips-for-aspiring-datascientists.pdf',10);">
            <img src="https://amunategui.github.io/become-datascientist-1.png" alt="Free e-book" 
                   style='padding:1px; border:0px solid #021a40; width: 100%; height: 100%'>
            </a>
          </p>
          <h1 class="blog-title">Data Exploration & Machine Learning, Hands-on</h1>
          <p class="lead text-muted">Practical walkthroughs on machine learning, data exploration and insight finding.</p>
        </div>
      </section>
    </header>
