
<BR>
<style>
	@media only screen and (max-width: 40em) {
    thead th:not(:first-child) {
        display: none;
    }

    td, th {
        display: block;
    }

    td[data-th]:before  {
        content: attr(data-th);
        }
	}

	input[type=email], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;}

	input[type=submit] {
    width: 50%;
    background-color: #008CBA;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;}
</style>



      <section class="text-center" style="background-color:white">
        <img src="https://manuelamunategui.pythonanywhere.com/pixel.gif?page={{ page.url | absolute_url }}" style="width: 1px; height: 1px" />
        <BR>
        <div class="container" >
          <p style="text-align:center">
               <a href="http://amunategui.github.io"  style="text-align:center">

                   <table border='0'>
                        <tr><td>
                            <table border='0' bgcolor="white" cellpadding="3">
				    <!--
                                <tr>
                                    <td>
                                        <a href='http://www.viralml.com/monetizing-machine-learning?page=github_bottom'  target='_blank'>
                                              <img src="https://amunategui.github.io/monetize-ml-apress-coupon.png" title="My new book Monetizing ML" alt="My new book Monetizing ML"
                                                        style="padding:0px; border:0px; width: 90%; height: 90%;" />
                                            </a>
                                    </td>
                                    <td>
                                        <p style="text-align:center">
                                            <a href='http://www.viralml.com/my-ml-entrepreneurship-class?page=github_bottom'  target='_blank'>
                                              <img src="https://amunategui.github.io/ml-ent-class.png" alt="Machine Learning Entrepreneurship - Master Class on Applied Data Science"
                                              title="Machine Learning Entrepreneurship - Master Class on Applied Data Science"
                                                        style="padding:0px; border:0px; width: 320px; height: 296px;" />
                                            </a>
                                    </td>
                                </tr>
                                 -->
                                <tr>
                                    <td colspan="2">
                                        <script type="text/javascript" src="https://app.getresponse.com/view_webform_v2.js?u=zQcLH&webforms_id=B5AVZ"></script>
                                    </td>
                            <!--
                                <td style="text-align:center;">

                                    <form action="https://manuelamunategui.pythonanywhere.com/amunategui_signup" method="POST">
                                      <font color='black'><i>Hey Friends, check out my new material, sign up for my newsletter and I'll send you more info:</i></font><Br>
                                        <input type="email" name="email_address" style='width:50%;'>
                                        <input type="hidden" name="origin" value="{{ page.url | absolute_url }}" /> 
                                        <input type="hidden" name="signup_page" value="https://amunategui.github.io/thanks.html" /> 
                                        <input type="submit" value="Sign up"><br>
                                       <font color='black'><i>I'll also send you my free eBook <b>'Become a Data Scientist'</b></i></font>
                                    </form>

                                </td>
                            -->
                            </tr>
                            </table>
                        </td></tr>
                    </table>

                </a>
        </div>
        <BR>
      </section>
	<BR><BR>


{% include popup.html %}




 
