<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
	<div class="container">
	  <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	  </a>
	  <a class="brand" href="http://amunategui.github.io/">Data Exploration & Machine Learning, <i>Hands-on</i></a>
	  <div class="nav-collapse">
		<ul class="nav">		  
		  <li class="">
			<a href="http://amunategui.github.io/"><i class="icon-home"></i> Home</a>
		  </li>
		  <li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-list"></i> Sections <b class="caret"></b></a>
				<ul class="dropdown-menu">					
					<li class=""><a href="/tags/exploring" rel="tooltip" title="Posts on data exploration" >Exploring Data</a></li>					
					<li class=""><a href="/tags/modeling" rel="tooltip" title="Posts on modeling">Modeling</a></li>
					<li class=""><a href="/tags/visualizing" rel="tooltip" title="Posts on visualization">Visualizing</a></li>
					<li class=""><a href="/tags/videos" rel="tooltip" title="YouTube Videos">Videos</a></li>
						
				</ul>
			 </li>	
		  <li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-comment"></i> Other <b class="caret"></b></a>
				<ul class="dropdown-menu">										
					<li class=""><a href="http://github.com/amunategui" rel="tooltip" title="Go to github.com/amunategui" target="_blank">GitHub</a></li>
					<li class=""><a href="https://www.linkedin.com/pub/manuel-amunategui/23/489/207" rel="tooltip" title="Go to LinkedIn profile" target="_blank">LinkedIn</a></li>
					<li class=""><a href="https://github.com/amunategui/Feedback/issues/new" rel="tooltip" title="Go to LinkedIn profile" target="_blank">Leave Me Feedback</a></li>
				</ul>
			 </li>
				
		</ul>		
	  </div>
	</div>
  </div>
</div>