<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
	<div class="container">
	  <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	  </a>
	  <a class="brand" href="http://amunategui.github.io/">Data Exploration & Machine Learning, <i>Hands-on</i></a>
	  <div class="nav-collapse">
		<ul class="nav">		  
		  <li class="">
			<a href="http://amunategui.github.io/"><i class="icon-home"></i> Home</a>
		  </li>
		  <li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-list"></i> Sections <b class="caret"></b></a>
				<ul class="dropdown-menu">					
					<li class=""><a href="/tags/exploring" rel="tooltip" title="Posts on data exploration" >Exploring Data</a></li>					
					<li class=""><a href="/tags/modeling" rel="tooltip" title="Posts on modeling">Modeling</a></li>
					<li class=""><a href="/tags/visualizing" rel="tooltip" title="Posts on visualization">Visualizing</a></li>
					<li class=""><a href="/tags/rstudioserver" rel="tooltip" title="Posts on RStudio Server">RStudio Server</a></li>
					<li class=""><a href="https://www.youtube.com/user/mamunate/videos" rel="tooltip" title="YouTube Videos" target="_blank">Videos</a></li>
						
				</ul>
			 </li>	
		  <li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-comment"></i> Other <b class="caret"></b></a>
				<ul class="dropdown-menu">										
					<li class=""><a href="http://github.com/amunategui" rel="tooltip" title="Go to github.com/amunategui" target="_blank">GitHub</a></li>
					<li class=""><a href="https://www.linkedin.com/pub/manuel-amunategui/23/489/207" rel="tooltip" title="Go to LinkedIn profile" target="_blank">LinkedIn</a></li>
					<li class=""><a href="http://www.kaggle.com/users/93429/amunategui" rel="tooltip" title="My Kaggle Page" target="_blank">Kaggle</a></li>
					<li class=""><a href="https://www.youtube.com/user/mamunate/videos" rel="tooltip" title="YouTube Videos" target="_blank">Videos</a></li>
					<li class=""><a href="http://laurelhurstmanagement.wordpress.com/" rel="tooltip" title="laurelhurstmanagement Blog" target="_blank">Blog</a></li>
					<li class=""><a href="https://github.com/amunategui/Feedback/issues/new" rel="tooltip" title="Go to LinkedIn profile" target="_blank">Leave Me Feedback</a></li>
				</ul>
			 </li>
				
		</ul>		
	  </div>
	</div>
  </div>
</div>
{% if page.path contains '_posts' %}
<p align="center">
	<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
	<input type="hidden" name="cmd" value="_s-xclick">
	<input type="hidden" name="hosted_button_id" value="YFRAYW3G8T76Q">
	<input type="image" style="display: block; margin: 0 auto;" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
	<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>
</p>
{% else %}
 <BR><BR><BR>
{% endif %} 	
<p align="center"><a href="http://amunategui.github.io/" rel="tooltip" title="View all posts&quot;"><span class="label label-info">all</span></a> <a href="/tags/exploring" rel="tooltip" title="View posts tagged with &quot;exploring&quot;"><span class="label label-info">exploring</span></a> <a href="/tags/modeling" rel="tooltip" title="View posts tagged with &quot;modeling&quot;"><span class="label label-info">modeling</span></a> <a href="/tags/visualizing" rel="tooltip" title="View posts tagged with &quot;visualizing&quot;"><span class="label label-info">visualizing</span></a> <a href="/tags/rstudioserver" rel="tooltip" title="View posts tagged with &quot;rstudioserver&quot;"><span class="label label-info">rstudioserver</span></a></p>