<script type="text/javascript">
  setTimeout(function() {
      $('#myModal').modal('show');
  }, 2000);
</script>

<div id="myModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="position: relative; right:0;">&times;  </button>
                <h4 class="modal-title"> My Book Is Out! Get It Now!</h4>
            </div>
           
            <div class="modal-body">
               <a href='https://www.apress.com/us/book/9781484238721' target='_blank'>
                 <img src="https://amunategui.github.io/getmynewbook.png" alt="My new book Monetizing Machine Learning" title="My new book Monetizing Machine Learning"
                        style="padding:0px; border:0px; width: 100%; height: 100%" />
                 </a>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default"  onclick="location.href='https://www.apress.com/us/book/9781484238721'">Check Out The Book</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Not Now</button>
            </div>
          
        </div>
    </div>
</div>