---
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    
    <meta property="og:description" content="Become a Full-Pipeline Data Scientist by Being Both Data Scientist and Full Stack Developer Squeezed into One">
    <meta name="description" content="Become a Full-Pipeline Data Scientist by Being Both Data Scientist and Full Stack Developer Squeezed into One">
    <meta name="title" content="What they Didn’t Teach at Data Science School, and How to Fix It to 10x Your Career">
    <meta name="og:title" content="What they Didn’t Teach at Data Science School, and How to Fix It to 10x Your Career">

    <meta name="author" content="Manuel Amunategui">
    <link rel="icon" href="../favicon.ico">

    <title>What they Didn’t Teach at Data Science School, and How to Fix It to 10x Your Career</title>

    {% include externals.html %}
  
  </head>

<style>
  code {
    background-color: #eee;
    border-radius: 3px;
    font-family: courier, monospace;
    padding: 0 3px;
}
</style>

 
<body>

<main role="main">

{% include header.html %}
   
{% include signup.html %}

<div class="container">
  <div class="blog-header">
    <h1 class="blog-title">What they Didn’t Teach at Data Science School, and How to Fix It to 10x Your Career</h1>
  </div>
 
<p><br />

<BR>
<p style="text-align:center">
<img src="img/missing-in-data-science.png" alt="What they Didn’t Teach at Data Science School" 
title="What they Didn’t Teach at Data Science School" 
style='padding:1px; border:1px solid #021a40; width:270px; height:294px'>
</p>
<BR><BR>

<BR><BR>
<H2>Become a Full-Pipeline Data Scientist by Being Both Data Scientist and Full Stack Developer Squeezed into One</H2>


<p>Even though I had a stellar CV, I was turned down for the position. I had, what I thought at the time, plenty of machine learning and modeling experience. I applied for a position in Holland — I was ready for something new and wanted to show my family the world. Unfortunately, they told me they wanted a data scientist with more commercial and “full pipeline” delivery experience — “please, let the next candidate in on your way out”. This was a few years back when things were less competitive, it is that much more important today.</p>

<BR><BR>
<H3>Full Pipeline Data Scientist</H3>

<p>And they were partly right. I built internal models for a hospital that may not have qualified as ‘commercial’ but I certainly built my share of pipelines. The problem is that most data scientist today have less applied skills than I had back then. Our educational system cranks them out that way. Some don’t even know what pipeline experience means, and if they do, they may not know how to implement one.</p>
<BR><BR>
<p>Full-pipeline experience is synonymous with being a data scientist and full stack developer squeezed into one. Some will argue that these positions are very different and would be better accomplished by different team members. But in most cases, on smaller teams, in fast startups, and more importantly for intuitive data science solutions, a data scientist should do it all, or at the very least, design it all and have others implement it. And, in the era of ‘A.I., the human job pillager’, the more useful you are, the longer you’ll survive.</p>


<BR><BR>
<H3>It Ain’t Real Until it Reaches your Customer’s Plate</H3>

<p>It is critical for a data scientist to not only understand the data, the model, and how to explain the output, they have to understand how it is going to be consumed by the end user. Whether a medical staff needing life-saving prognostics or a customer asking for clothing recommendations, today’s data scientists need to understand how their output will be digested. This is critical, some will be lost, not have a clue what to do with a percentage — like 60% or 80% good loan recipient? You will need to work with the business expert or build tunable parameter so they can tune the output threshold as their business grows. Others will be insulted with a true/false output and require the probability to scale their work or assign budget accordingly. And no, an end user will never need an AUC score…</p>

<p>Being a data scientist is a wonderful profession but there is a troubling gap in the teaching material when trying to become one. Data science isn’t about statistics and modeling, it is about fulfilling human needs and solving real problems. Not enough material tackles the big picture. That’s what is missing in this profession’s educational syllabus. If you build first then talk to your customer, your pipelines will be flawed, and your solutions will miss their target.</p>

{% include follow-me.html %}

<BR><BR>
<H3>Some Ideas to Get You Started</H3>
<p>Mind you, there are plenty of ways to build full pipelines but here are some open source solutions so we don’t get bogged down with proprietary solutions or NDAs (I apologize that it’s pointing to my own blog materials, but like I said, not much out there from an ML starting point).</p>

<UL>
  <LI><a href='http://amunategui.github.io/life-expectancy/index.html' target='_blank'>Life Coefficients — Modeling Life Expectancy and Prototyping it on the Web with Flask and PythonAnywhere</a></LI>
  <LI><a href='http://amunategui.github.io/rapid-prototyping-app-engine-yelp/index.html' target='_blank'>Rapid Prototyping on Google App Engine — Easily Extend your Python ML Models into Interactive Web Applications — Trip Planner with Google Maps and Yelp</a></LI>
</UL>

<BR><BR>
<H3>Today’s Models are Complex</H3>
<p>Gone are the days of the single model/prediction in spreadsheet solution, today, it can be a choreography of multiple models working asynchronously or synchronously feeding one model’s prediction into another. A customer dashboard may contain one or many outputs, may have complex tunable parameters, may have visuals reaching into the internals of your models. You need to be involved until the end, it is your responsibility — you need to understand the ‘full pipeline’.</p>

<BR><BR>
<p>Thanks for reading and please share!!!</p>

<p>Manuel Amunategui</p>

<p>Author: <a href='https://amzn.to/2CRUOKu' target='_blank'>Monetizing Machine Learning</a>, Curator of <a href='http://amunategui.github.io/' target='_blank'>amunategui.github.io</a> and <a href='http://www.viralml.com/' target='_blank'>ViralML</a></p>





{% include mid_point_ad.html %}


</div>



</main>
{% include footer.html %}
  </body>
</html>

