---
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Machine Learning, R Programming, Statistics, Artificial Intelligence">
    <meta name="author" content="Manuel Amunategui">
    <link rel="icon" href="../favicon.ico">

    <title>Data Exploration & Machine Learning, Hands-on</title>

    {% include externals.html %}
  
</head>

  

<body>

<main role="main">

{% include header.html %}


<div style="width: 600px; margin: 0 auto">

<h1 style="margin: 0.0px 0.0px 0.0px 0.0px; line-height: 43.0px; font: 42.0px 'Lucida Grande'; color: #000000; color: rgba(0, 0, 0, 0.84); -webkit-text-stroke: rgba(0, 0, 0, 0.84)"><span class="s1"><b>Executive Time Management — Don’t Suffocate the Creative Process</b></span></h1>
<p class="p2"><span class="s2">Published on Jun 13, 2018 on <a href="http://Medium.com">Medium.com</a></span></p>
<p class="p3"><span class="s2"></span><br></p>
<p class="p4"><span class="s2"><img src="Images/1*QAjnux0xih6CJn_DlW4lnQ.jpg" width="100%" alt="Image"></span></p>
<p class="p5"><span class="s1">(Source: Lucas Amunategui)</span></p>
<p class="p6"><span class="s2"></span><br></p>
<p class="p7"><span class="s1">Who’s stuck in meetings all day long and chronically strapped for time? Yes, the executive. If you know one, lack of time to think and space to create are usually their top complaints. Unfortunately, this also applies to many others, from any walks of life, employed or not, and at all levels of the professional food chain.</span></p>
<p class="p7"><span class="s1">I am a big self-management junkie</span><span class="s3"> </span><span class="s1">—</span><span class="s3"> </span><span class="s1">from tracking output, to do lists, white boards, morning stand-ups, Pomodoro, standup desks, frequent breaks, no breakfasts, etc. And they all have merit. The problem is that time isn’t equal in the eyes of the creative process; some things just can’t be rushed. If you don’t understand that, you are doing yourself a huge disfavor.</span></p>
<h3 style="margin: 0.0px 0.0px 0.0px 0.0px; line-height: 39.0px; font: 14.0px 'Lucida Grande'; color: #000000; color: rgba(0, 0, 0, 0.84); -webkit-text-stroke: rgba(0, 0, 0, 0.84); background-color: #ffffff; min-height: 17.0px"><span class="s2"><b></b></span><br></h3>
<h3 style="margin: 0.0px 0.0px 0.0px 0.0px; line-height: 39.0px; font: 14.0px 'Lucida Grande'; color: #000000; color: rgba(0, 0, 0, 0.84); -webkit-text-stroke: rgba(0, 0, 0, 0.84)"><span class="s1"><b>Mechanical vs. Creative</b></span></h3>
<p class="p7"><span class="s1">The key is to differentiate between mechanical and creative. The mechanical is what you have to do with little thought</span><span class="s3"> </span><span class="s1">—</span><span class="s3"> </span><span class="s1">it can be part of your job, you’ve done it many times before, something with tons of steps and no thinking. On the other hand, the creative process can’t be rushed, you need to give it time to percolate and age in order to be great. In the long run, if you don’t protect that process, your inventions won’t stack up to your expectations and others will notice. You’ll be the person that just sucks at coming up with new stuff. They’ll label you as a follower, as a drone worker… They’ll demote you by not asking for creative input and assume that mechanical is your thing. If it is, then fine, no need to read further. If it isn’t, if you want to create more and create more great things, keep reading.</span></p>
<h3 style="margin: 0.0px 0.0px 0.0px 0.0px; line-height: 39.0px; font: 14.0px 'Lucida Grande'; color: #000000; color: rgba(0, 0, 0, 0.84); -webkit-text-stroke: rgba(0, 0, 0, 0.84); background-color: #ffffff; min-height: 17.0px"><span class="s2"><b></b></span><br></h3>
<h3 style="margin: 0.0px 0.0px 0.0px 0.0px; line-height: 39.0px; font: 14.0px 'Lucida Grande'; color: #000000; color: rgba(0, 0, 0, 0.84); -webkit-text-stroke: rgba(0, 0, 0, 0.84)"><span class="s1"><b>The Problem</b></span></h3>
<p class="p7"><span class="s1">Therein lies the rub, if you allow the mechanical to suffocate the creative, you will be unhappy, one way or another</span><span class="s3"> </span><span class="s1">—</span><span class="s3"> </span><span class="s1">you won’t like your output, your job, and your employer won’t like you in the long run (but thankful you handled all that crap).</span></p>
<p class="p7"><span class="s1">You need to give yourself the proper time and space to let the creative work its magic. Personally, when it comes to original thinking, presentations, writing, I always give myself a few days for a chance to sleep over my progress a few times. This works for me, at least it sucks a lot less than the first draft. It’s an iterative process that takes time to cure, sometimes in the middle of that run, I’ll throw it all away and start from scratch or keep a few ideas and graft it into something better, over the next few days. Not many shortcuts to this process. But the “few days thing” isn’t the point of the article, I know people who create phenomenal content in hours. The point is to not get asphyxiated by mechanical tasks.</span></p>
<h3 style="margin: 0.0px 0.0px 0.0px 0.0px; line-height: 39.0px; font: 14.0px 'Lucida Grande'; color: #000000; color: rgba(0, 0, 0, 0.84); -webkit-text-stroke: rgba(0, 0, 0, 0.84); background-color: #ffffff; min-height: 17.0px"><span class="s2"><b></b></span><br></h3>
<h3 style="margin: 0.0px 0.0px 0.0px 0.0px; line-height: 39.0px; font: 14.0px 'Lucida Grande'; color: #000000; color: rgba(0, 0, 0, 0.84); -webkit-text-stroke: rgba(0, 0, 0, 0.84)"><span class="s1"><b>And My Advice</b></span></h3>
<p class="p7"><span class="s1">At a high-level, tackle the mechanical immediately, don’t procrastinate, don’t dilly-dally, as it will weigh in your head and clutter the creative flow. Another issue is that mechanical work isn’t always entirely mechanical, the worse is when there is enough difficulty baked-in that it weighs heavily on you and stops you from thinking about/enjoying other stuff. This is insidious and not always easy to surmount, especially if you are like me and tend to procrastinate things when they get difficult… and that, my friend, is the virus that kills the creative process.</span></p>
<p class="p7"><span class="s1">We can put it in another way, I tell my kids to get the homework done before the fun, ’cause the fun will be that much funner!</span></p>
<h3 style="margin: 0.0px 0.0px 0.0px 0.0px; line-height: 39.0px; font: 14.0px 'Lucida Grande'; color: #000000; color: rgba(0, 0, 0, 0.84); -webkit-text-stroke: rgba(0, 0, 0, 0.84); background-color: #ffffff; min-height: 17.0px"><span class="s2"><b></b></span><br></h3>
<h3 style="margin: 0.0px 0.0px 0.0px 0.0px; line-height: 39.0px; font: 14.0px 'Lucida Grande'; color: #000000; color: rgba(0, 0, 0, 0.84); -webkit-text-stroke: rgba(0, 0, 0, 0.84)"><span class="s1"><b>Realize it, tackle it, own it, finish it</b></span></h3>
<p class="p7"><span class="s1">Start the crap stuff immediately and get it done quickly. Give yourself the right space/time to think and create.</span></p>
<p class="p7"><span class="s1">Now, once they’re done, don’t turn it in too early, stick to deadlines, as turning crap work early will probably engender more crap work. And I am certainly not gaming any system, on the contrary, the creative work you do for your company will be 10 times more valuable than any of the mechanical stuff. The low-level manager may not get it (and if the creative was in your job description, head for the door now), but the higher ups will, and they will respect you for it and rely on you that much more!</span></p>
<p class="p10"><span class="s2"></span><br></p>
<p class="p11"><span class="s2">Thanks for reading!</span></p>
<p class="p11"><span class="s2">Manuel Amunategui</span></p>
<p class="p11"><span class="s2"><a href="http://amunategui.github.io">amunategui.github.io</a></span></p>
</div>
</main>


{% include footer.html %}
  </body>
</html>
