---
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta property="og:description" content="">
    <meta name="description" content="">
    <meta name="title" content="">
    <meta name="og:title" content="">
    <meta name="author" content="Manuel Amunategui">
    <link rel="icon" href="../favicon.ico">

    <title></title>

    {% include externals.html %}
  
  </head>

<style>
  code {
    background-color: #eee;
    border-radius: 3px;
    font-family: courier, monospace;
    padding: 0 3px;
}
</style>

 
<body>

<main role="main">

{% include header.html %}
   
{% include signup.html %}

<div class="container">
  <div class="blog-header">
    <h1 class="blog-title"></h1>
    <h2></h2>
  </div>
 
 
<p><br /><br />
<strong>Resources</strong></p>
<ul>
<li type="square"><a href="https://www.youtube.com/user/mamunate/videos" 
  target="_blank">YouTube Companion Video</a></li>
</ul>

<BR><BR>
<p></p>

<br><h2></h2>
<br>
<p></p>


<BR> 
<p style="text-align:center">
<img src="img/....png" alt="" title="" 
  style='padding:1px; border:1px solid #021a40; width: 50%; height: 50%'>
  <br><i></i>
</p>
<BR><BR>


<BR><p>Thanks! And please share this article with a friend or colleague or two :-)<br>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet" />
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" />
<div class="container footer">
  <div class="d-flex justify-content-between">
    <div class="p-1">
      <a href="http://www.facebook.com/sharer.php?u={{ page.url | absolute_url }}"><i class="fa fa-facebook-square fa-2x"></i></a>
      <a href="http://twitter.com/share?text={{ page.title }}&url={{ page.url | absolute_url }}"><i class="fa fa-twitter fa-2x"></i></a>
      <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ page.url | absolute_url }}&title={{ page.title }}"><i class="fa fa-linkedin fa-2x"></i></a>
    </div>
  </div>
</div>
 
<BR><H4>Manuel Amunategui</H4><br>
Curator @ <a href='https://amunategui.github.io/' target='_blank'>amunategui.github.io</a> and <a href='http://www.viralml.com/' target='_blank'>ViralML</a></p>

<p style="text-align:center">
    <img src="https://amunategui.github.io/amunategui-viralml-logs.png" alt="Your Applied and Entrepreneurial Data Science Portal"
    title="Your Applied and Entrepreneurial Data Science Portal"
        style='padding:1px; border:1px solid #021a40; width: 80%; height: 80%'>
</p>


<BR><BR>

<p>Manuel Amunategui - Follow me on Twitter: @amunategui</p>
</div>



</main>
{% include footer.html %}
  </body>
</html>

