---
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta property="og:description" content="Here is a trivially simple way of using Discord webhooks to push messages to your phone. If you are looking for an easy way of getting alerts to your phone or laptop but don't want to mess around with SMTP and multi-auth, you're going to like this simple alternative.">
    <meta name="description" content="Here is a trivially simple way of using Discord webhooks to push messages to your phone. If you are looking for an easy way of getting alerts to your phone or laptop but don't want to mess around with SMTP and multi-auth, you're going to like this simple alternative.">
    <meta name="title" content="One Line of Code to Send Messages to a Discord Server">
    <meta name="og:title" content="One Line of Code to Send Messages to a Discord Server">
    <meta name="author" content="Manuel Amunategui">
    <link rel="icon" href="../favicon.ico">

    <title>One Line of Code to Send Messages to a Discord Server</title>

    {% include externals.html %}
  
  </head>

<style>
  code {
    background-color: #eee;
    border-radius: 3px;
    font-family: courier, monospace;
    padding: 0 3px;
}
</style>

 
<body>

<main role="main">

{% include header.html %}
   
{% include signup.html %}

<div class="container">
  <div class="blog-header">
    <h1 class="blog-title"></h1>
  </div>
 
<p><br /><br />
<strong>Resources</strong></p>
<ul>
<li type="square"><a href="https://www.youtube.com/watch?v=kHe4WM1JCqY&list=UUq4pm1i_VZqxKVVOz5qRBIA&index=14" target="_blank">YouTube Companion Video</a></li>
</ul>
<BR>
<H1>One Line of Code to Send Messages to a Discord Server</H1>

<BR> 
<p style="text-align:center">
<img src="img/discord-pager.png"
 alt="The Discord Pager" 
 title="The Discord Pager"
 style='padding:1px; border:1px solid #021a40; width: 30%; height: 30%'>
</p>
<BR><BR>

<BR><BR>
<p>Here is a trivially simple way of using Discord webhooks to push messages to your phone. If you are looking for an easy way of getting alerts to your phone or laptop but don't want to mess around with SMTP and multi-auth, you're going to like this simple alternative.</p>

<h2>1. Create a Discord account</h2>
<br>
<p>Go to <a href='https://discordapp.com/' target='_blank'>https://discordapp.com/</a> and sign up for an account if you don't already have one.</p>

<h2>2. Create a Discord server</h2>
<br>
<BR> 
<p style="text-align:center">
<img src="img/discord-create-server.png"
 alt="Create a Discord server" 
 title="Create a Discord server"
 style='padding:1px; border:1px solid #021a40; width: 50%; height: 50%'>
</p>
<BR><BR>


<h2>3. Go to server settings</h2>
<br>
<BR> 
<p style="text-align:center">
<img src="img/discord-server-settings.png"
 alt="Go to server settings" 
 title="Go to server settings"
 style='padding:1px; border:1px solid #021a40; width: 50%; height: 50%'>
</p>
<BR><BR>
 
<h2>4. Go to Webhooks and create one</h2>
<br>
<BR> 
<p style="text-align:center">
<img src="img/discord-create-webhooks.png"
 alt="Go to Webhooks and create one" 
 title="Go to Webhooks and create one"
 style='padding:1px; border:1px solid #021a40; width: 50%; height: 50%'>
</p>
<BR><BR>

<h2>5. Copy the webhook</h2>
<br>
<BR> 
<p style="text-align:center">
<img src="img/discord-copy-webhook.png"
 alt="Copy the webhook" 
 title="Copy the webhook"
 style='padding:1px; border:1px solid #021a40; width: 50%; height: 50%'>
</p>
<BR><BR>

<h2>6. Run the code and page away!!</h2>
<br>
<code>
<pre name="6b23" id="6b23" class="graf graf--pre graf-after--pre">
import json, requests 

def PagingDiscordServer(webhook_url, text_message): return requests.post(webhook_url, data=json.dumps({ "content": text_message }), headers={ 'Content-Type': 'application/json',}) 

PagingDiscordServer('--ENTER YOUR WEBHOOK FULL URL--', 'Hello from ViralML.com!!') 

</pre>
</code>







<BR><BR><p>Manuel Amunategui - Follow me on Twitter: @amunategui</p>

{% include mid_point_ad.html %}


</div>



</main>
{% include footer.html %}
  </body>
</html>

