---
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta property="og:description" content="Here Are the Ground-Breaking Data Science Classes With Incredible Delivery and the Ability to Hold On to Our Attentions Till the End!">
    <meta name="description" content="Here Are the Ground-Breaking Data Science Classes With Incredible Delivery and the Ability to Hold On to Our Attentions Till the End!">
    <meta name="title" content="My Six Favorite Free Data Science Classes and the Giants Behind Them">
    <meta name="og:title" content="My Six Favorite Free Data Science Classes and the Giants Behind Them">
    <meta name="author" content="Manuel Amunategui">
    <link rel="icon" href="../favicon.ico">

    <title>My Six Favorite Free Data Science Classes and the Giants Behind Them</title>

    {% include externals.html %}
  
</head>

  

<body>

<main role="main">

{% include header.html %}
   
{% include signup.html %}

<div class="container">
  <div class="blog-header">
    <h1 class="blog-title">My Six Favorite Free Data Science Classes and the Giants Behind Them</h1><br>
    <h2>Here Are the Ground-Breaking Data Science Classes With Incredible Delivery and the Ability to Hold On to Our Attentions Till the End!</h2>
  
  </div>
 
<p><br /><br />
<strong>Resources</strong></p>
<ul>
<li type="square"><a href="https://www.youtube.com/watch?v=o30kayoQGoU&index=1&list=UUq4pm1i_VZqxKVVOz5qRBIA" target="_blank">YouTube Companion Video</a></li>
</ul>


<p style="text-align:center">
<img src="img/image001.jpg" alt="favorite free classes" style="padding:1px; border:1px solid #021a40; width: 50%; height: 50%" />
<BR>
Source: Lucas Amunategui
</p>
 
<p>
The tech field, more than other fields, is one where people feel compelled and comfortable sharing what they have learned and what they're excited about. We all do it. But, once in a while, comes a ground-breaking class, not only for its timely topic, but for its incredible delivery and ability to hold on to our attention till the end. They leave us with a real grasp on the material, new ideas on how to apply it, and that exciting feeling of having grown a tad wiser.
</p>
<p>
To the Giants!
</p>
<BR><BR>
<H2>Number 1: Trevor Hastie, Robert Tibshirani - Data Science Introductions using R</H2>
<p>
All lists start with the phenomenal duo of Trevor Hastie and Robert Tibshirani. Originally from South Africa and Canada, today, they are both firmly seated at Stanford. They've shaped a whole generation of data scientists in areas of machine learning and statistics, all the while delivering the material in a hilarious and engaging style - can't thank you two enough!
</p>
<p>
They created a popular interactive course using the R programming language, and two essential and freely downloadable books on statistics and ML:
</p>
<ul>
<li type="square"><a
href="https://online.stanford.edu/courses/sohs-ystatslearning-statistical-learning-self-paced"
target="_blank">Statistical Learning (Self-Paced)</a></li>

<li type="square"><a
href="https://web.stanford.edu/~hastie/ElemStatLearn/" target="_blank">The
Elements of Statistical Learning: Data Mining, Inference, and Prediction</a></li>

<li type="square"><a href="https://www-bcf.usc.edu/~gareth/ISL/"
target="_blank">An Introduction to Statistical Learning with Applications in R</a></li>
</ul>

<BR><BR>
<H2>Number 2: Andrew Ng - Machine Learning (Octave)</H2>
<p>
Andrew Ng is a superstar professor and his seminal course on machine learning has propelled the career of so many students by not only digging down to the root of modeling and neural networks but keeping it understandable and fluid. Andrew's delivery is incredible. This is a hands-on course using Octave. A big thanks to you, Andrew! Great backprop example: <a
href="https://www.youtube.com/watch?v=_2zt4yVCkGk" target="_blank">https://www.youtube.com/watch?v=_2zt4yVCkGk</a>
</p>
<p>
Online free course - Statistical Learning (video lectures available on YouTube as well):

<ul>
<li type="square"><a
href="https://www.coursera.org/learn/machine-learning" target="_blank">Machine
Learning</a>
<li type="square"><a
href="https://www.youtube.com/playlist?list=PLLssT5z_DsK-h9vYZkQkYNWcItqhlRJLN"
target="_blank">Machine Learning<span style='font-family:"Times New Roman",serif'> </span>—<span
style='font-family:"Times New Roman",serif'> </span>Andrew Ng, Stanford
University [FULL COURSE]<span style='font-family:"Times New Roman",serif'> </span>—<span
style='font-family:"Times New Roman",serif'> </span>112 videos</a>
</li>
</ul>
<p>
Andrew's new class
</p>

<ul>
<li type="square"><a href="https://www.deeplearning.ai/" target="_blank">https://www.deeplearning.ai</a></li>
</ul>

<BR><BR>
<H2>Number 3: Geoffrey Hinton - Neural Networks for Machine Learning (Python)</H2>
<p>
Professor Hinton is a legend in our field. What is more apt than learning about neural networks than learning about it from the father of back-propagation, Boltzman machines, and now, Capsule Networks? Hats off!
</p>
<ul>
<li type="square"><a href="https://www.coursera.org/learn/neural-networks"
target="_blank">Neural Networks for Machine Learning</a>
</li></ul>

<BR><BR>
<H2>Number 4: Nine Month Data Science Specialization from John Hopkins and Coursera</H2>
<p>
"Launch Your Career in Data Science. A nine-course introduction to data science, developed and taught by leading professors."</p>
<p>
From three Johns Hopkins University professors: Brian Caffo, Roger Peng, Jeff Leek.
</p>
<p>
This course isn't necessarily free, you can audit it but if you can have your work reimburse you for it, they would be making a very wise investment. Also, I wouldn't call it a class but a 9-months journey, taking you from a beginner in data science and guiding you all the way to professional fluency. You'll learn critical skills around EDA, reproducibility, various modeling techniques and seal the class with a capstone project. The class is hands-on, self-paced, and uses the R programming language. This is one of the few classes out there that teaches you holistic, applied data science skills - great series!
</p>
<ul>
<li type="square">
<a
href="https://www.coursera.org/specializations/jhu-data-science" target="_blank">9-Week
Data Science Specialization from John Hopkins and Coursera</a>
</li></ul> 

<BR><BR>
<H2>Number 5: Sebastian Thrun and Peter Norvig - Intro to Artificial Intelligence</H2>
<p>
These two need little introduction - Sebastien was part of the winning 2005 DARPA Grand Challenge and co-founder of Udacity and Peter is Director of research at Google. Put these two thinkers and entrepreneurs together and you know that you're going to have a great and practical class! I'll also add that the Udacity "Self-Driving Car Engineer Nanodegree", though not a free class, was a great introduction to autonomous driving.
</p>
<ul>
<li type="square"><a href="https://classroom.udacity.com/courses/cs271"
target="_blank">Intro to Artificial Intelligence</a></li></ul>


<BR><BR>
<H2>Number 6: Peter Norvig + team - Machine Learning Crash Course</H2>
<p>
Peter is everywhere! The Machine Learning Crash Courses from Google are top notch for those wanting to learn everything TensorFlow!
<p>
<ul>
<li type="square"><a
href="https://developers.google.com/machine-learning/crash-course/"
target="_blank">A self-study guide for aspiring machine learning practitioners</a></li></ul>

<BR><BR>
<H2>
A Great Resource: TennsorFlow Playground (Daniel Smilkov and Shan Carter)</H2>
<p>
Deep neural networks are sometimes hard to understand and can feel impossible to tune. This is a great interactive tool to help you learn both.
</p>
<ul>
<li type="square">
<a href="https://playground.tensorflow.org/"
target="_blank"><span class=SpellE>TennsorFlow</span> Playground</a>
</li>
</ul>

{% include mid_point_ad.html %}

<BR><BR>
<H2>Conclusion</H2>
<p>
Props to the giants that have generously created these ground-shaking classes, made them available for free, and formed this new generation of motivated and self-starting data scientists. If you've found your way by lighting your path with any of these amazing educational beacons, cheers to you!
</p>
<p>
If you follow through with these classes until the end, take them seriously, do the homework and take smart notes, you will come out of the other end as a real data scientist! We've officially run out of excuses as to why we cannot learn data science - if you hear somebody wants in, point him or her to any of these classes!
</p>

</div>

</main>
{% include footer.html %}
  </body>
</html>

