---
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Machine Learning, R Programming, Statistics, Artificial Intelligence">
    <meta name="author" content="Manuel Amunategui">
    <link rel="icon" href="../favicon.ico">

    <title>How to Create Your Own Free Email Signup Form and Enjoy 100% Creative Freedom - For Static & Semi-Static Web Sites/title>

    {% include externals.html %}
  
</head>

<style type="text/css">
</style>

<body>

<main role="main">

{% include header.html %}
   
{% include signup.html %}

<div class="container">
  <div class="blog-header">
    <h1 class="blog-title">How to Create Your Own Free Email Signup Form and Enjoy 100% Creative Freedom - For Static & Semi-Static Web Sites</h1>
  </div>
 
<p><br /><br />
<strong>Resources</strong></p>
<ul>
<li type="square"><a href="https://www.youtube.com/watch?v=ZNTO5a-eg6E&list=UUq4pm1i_VZqxKVVOz5qRBIA&index=1" target="_blank">YouTube Companion Video</a></li>
</ul>

 
<p>I've been blogging for years on amunategui.github.io, a portal showcasing practical machine learning and AI walkthroughs. This is a "GitHub Pages" hosted website. Every GitHub account automatically gets one free web site to showcase whatever they want and mine is all about data science.</p>





 

 </div>



</main>
{% include footer.html %}
  </body>
</html>

