
<!DOCTYPE html>
<html lang="en" class="fuelux">
<head>
	<!-- Meta, title, CSS, favicons, etc. -->
	<meta charset="utf-8">
<!--<meta http-equiv="X-UA-Compatible" content="IE=edge">-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Data Exploration and Machine Learning, Hands-on">
<meta name="keywords" content="Data Exploration and Machine Learning, Hands-on with R">
<meta name="author" content="ExactTarget">

<title>{{ page.title }}</title>

<!-- Favicons -->

<!--<link rel="apple-touch-icon-precomposed" sizes="144x144" href="http://getfuelux.com/assets/ico/apple-touch-icon-144-precomposed.png">-->
<!--<link rel="shortcut icon" href="http://getfuelux.com/assets/ico/favicon.ico">-->

<!-- Styles -->

<!-- Bootstrap CSS-->
<link href="http://getfuelux.com/assets/vendor/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="http://getfuelux.com/assets/vendor/fuelux/dist/css/fuelux.css" rel="stylesheet" type="text/css">
<!-- Docs CSS -->
<link href="http://getfuelux.com/assets/css/docs.css" rel="stylesheet">

<!-- Copy select -->
<link href="http://getfuelux.com/assets/css/super-copy.css"  rel="stylesheet" type="text/css">

<!-- Specific Page CSS -->
<link href="http://getfuelux.com/assets/css/getting-started.css" rel="stylesheet">
</head>
 
<body data-spy="scroll" data-offset="10">
{% include navigation.html %}

<div class="container">

  <div class="row">
    <div class="col-md-9" role="main">		   				
			 <div class="fu-docs-section">					
					{{ content }} 					
				</div>	
	</div>	
	{% include aboutme.html %}								
</div>

{% include footer.html %}
  

<script src="http://getfuelux.com/assets/vendor/requirejs/require.js"></script>
<script>
  (function () {
    requirejs.config({
      config: {
        moment: {
          noGlobal: true
        }
      },
      paths: {
        assets: 'http://getfuelux.com/assets',
        bootstrap: 'http://getfuelux.com/assets/vendor/bootstrap/dist/js/bootstrap',
        fuelux: 'http://getfuelux.com/assets/vendor/fuelux/dist/js/fuelux',
        jquery: 'http://getfuelux.com/assets/vendor/jquery-1.11.0/dist/jquery',
        moment: 'http://getfuelux.com/assets/vendor/moment/min/moment-with-locales.min', // comment out if you dont want momentjs to be default
        underscore: 'http://getfuelux.com/assets/vendor/underscore/underscore',
        backbone: 'http://getfuelux.com/assets/vendor/backbone/backbone',
        formbuilder: 'http://getfuelux.com/assets/js/form-builder',
        collections: 'http://getfuelux.com/assets/js/form-builder/collections',
        data: 'http://getfuelux.com/assets/js/form-builder/data',
        models: 'http://getfuelux.com/assets/js/form-builder/models',
        helper: 'http://getfuelux.com/assets/js/form-builder/helper',
        templates: 'http://getfuelux.com/assets/js/form-builder/templates',
        views: 'http://getfuelux.com/assets/js/form-builder/views',
        text: 'http://getfuelux.com/assets/vendor/requirejs-text/text',
        supercopy: 'http://getfuelux.com/assets/js/super-copy',
      },
      // Bootstrap is a "browser globals" script :-(
      shim: {
        'bootstrap': { deps: ['jquery'] },
        'backbone': {
          deps: ['underscore', 'jquery'],
          exports: 'Backbone'
        }
      }
    });
  })();
</script>
 

<script>
  require(['jquery', 'bootstrap', 'moment', 'assets/js/application'], function($){});
</script>
  </body>
</html>
